[2015-11-09 09:02] teebee76 opened #1 "Preview pane not using Visual Studios color theme"
Reposting issue here mainly to test the issue functionality but also to get a better notification of the issues status, I hope you don't mind.

Like I said earlier not a big issue, but if you change the Color-theme of your visual studio everything except the preview pane changes color. It is not a big difference between the Light and the Blue color theme, but if you use the Dark Theme (like I do)

[2015-11-10 15:11] jzoss commented on #1
I totally don't mind , So it looks like just the text editor that the theme is not working.. Photos help a lot thanks. I'm not sure how hard it will be to fix.. but I am guessing it's not too bad. There is a file in the resource directory call Patch-Mode.xshd..  This hold all the values for the editor for syntax highlighting and whatnot.. I will need to copy that and make the colors work for the d

[2015-11-16 04:08] PureKrome opened #2 "Diff View tab/window is not visible/available"
Just installed this plugin.

the DIFF VIEW tab/window is not available. It's gone. Kaput. Vanished.

And it's SOOO important :(

If I try and `compare` a *modified* file, (right click on the modified file -> compare) I get the following warning in the bottom message pane thingy: `The system cannot find the file specified`.

Help us Jon - you're our only hope!

Update:
- VS 2015 Prof
- Windows 10
-

[2015-11-16 14:41] wilhen01 opened #3 "Comments box not cleared after commit"
Minor one, but a bug I think - after a successful commit the Comments: field for the Git commit message is not cleared.

On a similar note, if you use the 'Select all' checkbox to choose files to commit, this isn't cleared either.

[2015-11-19 15:18] jzoss commented on #2
Yea. I see this. I even had a bug TODO fix this in the source code.. and forget do to it.

[2015-11-19 21:28] PureKrome commented on #2
![](http://i.giphy.com/4u8WdgQEMVaj6.gif)

[2015-11-24 21:06] jzoss commented on #3
Fixed in 1.4

[2015-11-24 21:06] #3 closed

[2015-11-24 21:07] jzoss commented on #2
Fixed in 1.4

[2015-11-24 21:07] #2 closed

[2015-11-24 23:14] mnadel opened #5 "Git History Crashes in v1.4"
Just updated to 1.4. Right-click a file in Solution Explorer and select Git -> History.

Get a popup: "GitUI has stopped working."

I'm using Git 2.6.3, but this previously worked (though opened up a UI I've never seen instead of the VS History view).

[2015-11-24 23:17] mnadel commented on #5
Same result when I use Git 1.9.7.

[2015-11-25 00:35] PureKrome commented on #2
LGTM! Thanks!

[2015-11-25 00:36] PureKrome commented on #1
Now that #2 is fixed, I can see the preview pane :) I can also confirm that this is _exactly_ like the pic, above. :/

[2015-11-25 00:38] PureKrome opened #6 "Null error => Popup dialog box with 'Object reference not set to an instance of an object`."
with version 1.4..

When I click SETTINGS, i get this pop up dialogue...

![image](https://cloud.githubusercontent.com/assets/899878/11385024/faefeb28-9368-11e5-8124-42f7f785ccc0.png)

Not sure why, etc :( :(

(also note the wrong colour background, which is the same as #1 )

[2015-11-25 03:57] PureKrome opened #7 "Reverting / Undo file changes, just hangs .. and the UI isn't refreshed."
Tried to revert/undo a file .. and the VS UI just hung for about 15 odd seconds .. and then nothing.

repeated this a few times .. same thing.

When i jumped over to TortoiseGIT it looks like it was reverted, though. So _i think_ the UI isn't refreshing correctly?

[2015-11-25 19:20] jzoss commented on #5
Fixed in 1.4.1

[2015-11-25 19:20] #5 closed

[2015-11-25 20:01] jzoss commented on #6
Fixed in 1.4.1

[2015-11-25 20:01] #6 closed

[2015-11-25 22:38] PureKrome commented on #6
Ta mate!

[2015-11-26 23:31] PureKrome commented on #6
version 1.4.1 getting pushed up to https://visualstudiogallery.msdn.microsoft.com/51e11ccc-6334-4873-912d-bf5025eb115d any time soon?

[2015-11-27 03:41] jzoss commented on #6
Yes.. I was trying to fix the revert issue first :)  I will push it out tomorrow or Monday.. After I awake from the turkey comma

[2015-11-27 03:54] PureKrome commented on #6
# !! T U R D U K E N !! #

![](http://s.wsj.net/public/resources/images/OB-OD861_turduc_G_20110603012018.jpg)

[2015-11-28 10:41] NightOwl888 opened #8 "Pending Changes Not Refreshing"
Whether waiting for the automatic refresh or manually clicking the refresh button, my changed files are not appearing in the Pending Changes window.

![norefresh](https://cloud.githubusercontent.com/assets/1538288/11451377/14d66b44-95f7-11e5-8dbe-17bf993e69dc.png)

I am using version 1.4.

Is it possible to revert to 1.3? Where can it be downloaded?

[2015-11-28 10:43] NightOwl888 opened #9 ""Object reference not set to an instance of an object." when clicking the Settings button."
The title pretty much explains it. I click settings and I get an Object reference not set to an instance of an object error from Visual Studio.

I am using version 1.4.

[2015-11-28 10:53] NightOwl888 commented on #8
I downloaded 1.3.5.1_Beta from the releases page, but still get the same results. No way to refresh the files and most of the time the changed files don't even show up upon loading the solution.

[2015-11-30 02:03] jzoss commented on #8
Are the changes updating in the solution explorer? Anyway I will try and fix it tomorrow, and I can get v 1.31 out there as well.

[2015-11-30 02:09] jzoss commented on #9
Yep.. 1.41 has this fixed.. I was trying to one other bug before I pushed it out.

[2015-11-30 07:01] NightOwl888 commented on #8
As you can see in the screenshot, the answer is no, Solution Explorer is not updating either (after the edit the lock icon still exists).

I have since installed the [Git Tools Extension](https://visualstudiogallery.msdn.microsoft.com/48c3e91e-d1d7-4bf9-84dd-d3b97e2d5922) which apparently is supposed to replace the Git Source Control Provider in VS2015, but unfortunately with that one I am getting

[2015-11-30 14:30] jzoss commented on #8
I am preparing the 1.41 build that will fix the settings error. Question for you on this one, do you have git.exe in the path? That is if you start cmd can you type git and does it work...I'm hoping not because I think I may be close to a fix if that is the case.

[2015-11-30 15:31] teebee76 commented on #9
I know you already fixed this, but I noticed when installing a new version of GIT that this only occurs if I use a 32bit version of GIT.  I tried installing one and then the other and back to the first again, and no error occured once the 64bit version was installed.

I also noticed that the configured values for git user.name and user.email are not filled into the text-fields on the config-page,

[2015-11-30 15:36] jzoss commented on #9
Awesome  Thanks.. Very helpful.. I am just finishing up the 1.41 release .. Do you want to help me test  before I push it to the world ?

[2015-11-30 15:55] teebee76 commented on #9
Sure, I'll be glad to :)
I am however not able to do it tonight, but will be back at work tomorrow at around 8 in the morning, can do a little uninstall reinstall of 32/64bit git and path and unpath then. Also noticed a bug in the path-settings when installing v 2.6.3 of GIT it maps to wrong directory (without (x86) on the 32-bit version, and with on the 64-bit version, so I guess there's some rev

[2015-11-30 16:00] jzoss commented on #9
Yea.. I can't recreate that yet either.. Trying to fix that.. I may do a 1.41 out just to fix the bugs that are fixed.. I wanted to fix the revert before I did that.. but that may have to wait.

[2015-11-30 18:06] NightOwl888 commented on #8
I do have the path to git.exe (directory only) in the path. In fact, I use it all of the time for pushing, pulling, merging, and rewriting history.

[2015-11-30 18:36] jzoss commented on #8
Ok.. Not the same thing.. Can you check out the latest release 1.4.1 ? See if it fixed it.. I was able to get some of the same behavior when the plugin did not have the correct git path setup. I hope the latest update fixed it.

[2015-11-30 21:47] jzoss commented on #7
Fixed in 1.4.2

[2015-11-30 22:16] PureKrome commented on #7
thank you kindly sir!!!

[2015-12-01 06:43] teebee76 commented on #9
looks like 1.4.1 pretty much fixed all the errors I had :+1: good job

I haven't tried uninstalling the 64bit version and reinstalling the 32bit version though

[2015-12-01 09:18] PureKrome opened #10 "Changed files doesn't refresh after a commit"
If I do _not_ tick/check all the items in my commit list, then commit, the commit list goes empty and doesn't refresh. Then clicking the refresh button _also_ doesn't refresh the list.

Repo:

- Modify a few files (i had about 20)
- Tick all all but 2 files. Then click COMMIT.
- File-list goes empty. Those 2 unticked files are still not showing.

:(

[2015-12-01 13:28] teebee76 commented on #10
Not happening on my setup.

Git Source Control Provider v 1.4.1
Git Extensions 1.0.5
Git 2.6.3 (64bit)

when checking only one item and pressing commit, the entire list goes blank at first, but then the changed files reappear after about 1 sec.

[2015-12-01 14:36] pjdupreez opened #11 "Multiple Project Source Control Issue"
I have been using Git Source Control Provider for a couple of years now and nothing else comes close to it, but the update has caused a rather annoying issue. I have some solutions which contain multiple projects. I create each project on their own  (File->New Project, etc) so that each have their own folder and are not subfolders of my 'main' project. Each also have their own git repository.

Bef

[2015-12-01 15:37] jzoss commented on #11
Copy..An edge case I did not test :) .. I will have to setup a test repo, but it should be able to fix that. Thanks for the info, just 1 guy here updating all of this, and I have not been able to do as much testing as I would have liked.

[2015-12-01 15:38] jzoss commented on #9
I'm going to close it until I hear it is still an issue

[2015-12-01 15:38] #9 closed

[2015-12-01 15:48] jzoss opened #12 "Branch Name Missing From Solution Explorer"
The Branch Name is Missing From Solution Explorer

[2015-12-01 16:06] jzoss commented on #11
Just for clarification, you are talking about in the pending changes window, correct?

[2015-12-01 17:03] pjdupreez commented on #11
Well, it's not just the Pending Changes but any item that I select from the menu that defaults to the startup project. commit, push, pull, history, all of it.

Selecting any sub project and going to Pending Changes shows me the pending changes of the startup project, even when hitting 'refresh'.

If it is possible, could you look into creating functionality so that when you select multiple project

[2015-12-02 00:41] PureKrome commented on #10
Git source control provider v 1.4.1 also.

I think this might have something to do with a `branch-switch` ? maybe.. i think when i switched branches .. the entire `pending changes` window still thinks i'm in the other branch?

hmm.. (i'm trying to find ways to get a consistent repo of this).

[2015-12-02 01:27] PureKrome commented on #10
Not sure if this is related (as I'm trying to source more info)..

But check out my window - there's _no_ branch name there..

but i'm definitely in a branch (as seen by tortoise git).

![image](https://cloud.githubusercontent.com/assets/899878/11519650/0693a8f2-98f0-11e5-939e-948a54b539f4.png)

[2015-12-02 04:29] jzoss commented on #11
I am working on the issue.. I think I have an Idea what it is. Please if you can.. check out https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/1.4.1.1 See if that is on the right track.. I think everything but auto updating the state in the solution explorer should be working. Getting late.. so I will hack at it more tomorrow if I can.

[2015-12-02 04:30] jzoss commented on #10
Hey @PureKrome and @teebee76  can you try this new beta release.. https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/1.4.1.1 . Not 100% done yet.. but I think its getting there..

[2015-12-02 04:31] jzoss commented on #7
Fixed in the beta release.. working on finishing the release. https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/1.4.1.1

[2015-12-02 07:40] teebee76 commented on #11
I noticed a similar problem yesterday, I opened one of my solutions where I have lots of individual projects. I could no longer see the status i solution explorer, and the list in pending changes was empty (or not connected to the git-respository) If I started git bash from the pending changes window, it would take me to the solution directory instead of the project directory.

I installed 1.4.1.1

[2015-12-02 10:01] scott-grove-cm commented on #8
I'm using 1.4.1 with VS 2015 Community and the Pending changes is still not refreshing

[2015-12-02 15:46] jzoss commented on #8
@scott-grove-cm I am working on a new release to fix this.. I do not have VS 2015 Community, but I can make a VM and test it out.. Can you do me a favor.. in the releases tab there is a beta release 1.4.1.1, if yo get time can you try that and see if it fixes or mostly fixes your issues. Thanks

[2015-12-02 15:47] jzoss commented on #11
@teebee76 Thanks.

[2015-12-02 15:58] scott-grove-cm commented on #8
@jzoss Just installed 1.4.1.1 and good news is I can see new and modified files now.
If I see anything else I'll report back. Thanks :+1:

[2015-12-02 16:07] jzoss commented on #8
@scott-grove-cm Fantastic, Glad it is working. I have a few more things to fix before I push out the next release, but I'm happy to be on the right track.. :)

[2015-12-02 16:44] jzoss commented on #10
@PureKrome @teebee76 .. Thanks for you feedback..

So I think I have it sorted or at least I'm moving in the right direction.  It was a b*tch to track down the cause, because it had to do with timing that took me a while to figure that out, then figure out how to recreate it in a debugger.
So here was the issue. It was caused by a few things.

1.	The plugin uses a FileSystemWacher, so when a file

[2015-12-02 17:14] scott-grove-cm commented on #8
@jzoss Update for you - undo file changes doesn't refresh Pending Changes window. closing and re-opening doesn't work either. Only way of refreshing was to close VS and re-open

[2015-12-02 23:54] PureKrome commented on #10
@jzoss dude. LOVE the detailed brain dump :+1: Respect :+1:

I feel your pain as i'm doing some debugging on some _really_ simple linq stuff today and .. well.. it's not working because i need to be jumping at the right time, turning around at the right time and probably singing three songs at the same time - to get the repo conditions right :/

Keep fighting the good fight sir! we have your back!

[2015-12-03 06:51] teebee76 commented on #10
I'm glad you figured it out, and don't have to stay awake at night thinking about it. It's always a great relief when you finally crack that problem wide open :+1:  good working, I've also had my battles with the debugger, and sometimes everything just works fine on the dev machine when doing the debugging while it's breaking on the production server.

[2015-12-03 12:32] NightOwl888 commented on #9
Sorry, I haven't had a chance to test this until now. It seems to be working fine now. No error, and I can now see my Git User Name and Git User Email, where before they were blank.

[2015-12-03 12:45] NightOwl888 opened #13 "What is the point in having 2 separate projects for this?"
Maybe there is some compelling reason why the author of the original [Git Source Control Provider](https://visualstudiogallery.msdn.microsoft.com/63a7e40d-4d71-4fbb-a23b-d262124b8f4c) started a separate project called [Git Tools](http://yysun.github.io/git-tools/) to replace Git Source Control Provider in VS2015, and you started a separate branch of the original Git Source Control Provider to supp

[2015-12-03 13:02] teebee76 commented on #13
Just to be clear I am not a developer on this project, secondly I was not aware of this other project you mentioned, and so were probably not the developer of this project either.
If you look at the activity for the other project, I am by that alone going to stick with this one, and if need be contribute to this branch, which I suppose will be more recognizable by developers switching to vs2015
Th

[2015-12-03 13:20] teebee76 commented on #13
Just had to test it ...

Installed the extension, and actually it's quite nice. I like some of the features like the console-tab in the changes-window , maybe @jzoss can snatch some of the code and make that possible in this version as well, or Like you mentioned before merge the 2 projects and create one ultimate bug-free version :)

![image](https://cloud.githubusercontent.com/assets/5390116/115

[2015-12-03 15:44] jzoss commented on #13
@NightOwl888 So I am with you.. I started out by just asking the original dev if he was planning on adding solution integration to his new project.. He said no. So I started doing this. My first failed refactor actually brought in all his code, but there was too many changes.. .and the code was already a mess, I couldn't figure it out.. I did however take the Git integration project from that code

[2015-12-03 19:03] NightOwl888 commented on #13
Well, truth be told I don't really care which project is the authoritive one.

The Git Tools project has this going for it:

1. Original Author
2. Works along side the Microsoft Git Provider

And of course this one has:

1. Active Development

All of these are important things. In theory, making a project to work along side the Microsoft Git Provider is great because the Git Provider supports push

[2015-12-03 20:29] jzoss commented on #13
@NightOwl888 Question.. I'm just wondering.. why you drop into the command line so often? I just use TortoiseGit and I hardly ever use the command line.. Anyway.. true this does not work at the sam etime as the Microsoft Git Provider.. but ii gives the whole TGit interaction. I mean.. I guess I coudl try and make it work both with and without the MS Git.. Not sure HOW to do it both ways..

[2015-12-03 21:14] NightOwl888 commented on #13
1. I had read when I started using Git that TortoiseGit was a bit buggy.
2. I frequently make a commit and then realize there should have been some additional edits to that commit. It is really handy using Git interactive mode to merge commits or just to fix up commit messages (especially when you consider that if you put `Closes #3` or `Fixes #3` into the commit message, the issue will be closed

[2015-12-03 21:19] NightOwl888 commented on #13
I guess another reason I use the command line is because that is usually what the advice is on Stack Overflow.

[2015-12-03 22:02] jzoss commented on #8
@NightOwl888 and @scott-grove-cm  I have another beta release 1.4.2 Beta 1. Check it out.. From my testing .. it fixes most of the issues.. Please give it a test run, tell me what you think.

[2015-12-03 22:04] jzoss commented on #10
@PureKrome and @teebee76 I have another beta release .. Please check it out.. I tested it a bit.. but you guys seem to find my bugs much better than I do. 1.4.2 Beta 1

[2015-12-03 22:08] yysun commented on #13
As owner of the two projects, I am open to all options. Let's discuss and decide.

First a bit history. The GitScc project started and worked in VS2008, when VS extension was very difficult to make. It took a lot of time from contributors to make it through VS2010, VS2012, and VS2013. Eventually, it became less maintained due to my time limitation for the project.

Starting VS 2013 and VS 2015, Mi

[2015-12-03 22:54] PureKrome commented on #10
Installed beta ([from here](https://github.com/jzoss/Git-Source-Control-Provider/releases)) and will be using/testing it.

[2015-12-04 15:46] jzoss commented on #13
@yysun I'm all for combining our efforts. But @NightOwl888  they are actually different the plugins. The new one @yysun is working on is not  a scc provider. That's just fine, but some people prefer to the experience of the scc provider you get when using Tortoisegit.

@yysun I want to say, I have really done much work on the UI since I forked it from your repo. One of the first things I did do, w

[2015-12-04 18:59] jzoss commented on #10
@PureKrome and @teebee76  Just wanted again thanks for your support. I love do the brain dumps.. Makes me think about the problem a bit. Anyway.. I have had much better luck with the latest build. I have not heard from anyone with more bugs yet... so.. that's either good.. or proof it's Friday!

[2015-12-04 19:28] yysun commented on #13
@jzoss thanks for your help on this project. I liked the idea to have both projects share same core based on libgit2sharp. If you want to merge into the master branch, I can merge your pull request or just make you as contributor so that you can merge it. Finally you can send me the compiled installer, I will push to the vs extension gallery.

[2015-12-04 21:44] jzoss commented on #1
@teebee76 @PureKrome .. Skipped lunch today, for what I thought would be a quick patch.. took me a bit longer than I wanted.. Anyway, thanks for your help.. check out the new 1.4.2 Beta 2 release :)

[2015-12-06 00:33] ddobrev commented on #13
@yysun @jzoss it's great that you want to merge the code and join forces. However, I think the MS Git Source Control Provider has a bug. When a Git repository is checked out within another Git repository, the MS provider only detects the parent repository and any commands do not work for files from the child repository. This is actually the only reason I use this project because I otherwise think

[2015-12-06 00:36] ddobrev commented on #11
I think I have this bug too. Also, TortoiseGit Commit gives me "No working directory found.". I can see there has been a second beta but when will there be a stable release?

[2015-12-06 02:35] jzoss commented on #11
Beta 2 is pretty stable. I may push it Monday.. I was just waiting for some other people to test it.. Why don't you give it a shot and tell me what you think. It will automatically update when the final 1.4.2 is released.

[2015-12-06 12:21] ddobrev commented on #11
Beta 2 caused the status icons to reappear, thanks. However, TortoiseGit.Commit still gives the same error.

[2015-12-06 12:43] ddobrev commented on #11
I am afraid, though, that the icons only appeared - they do not change when a file is edited. I think it may have to to with my set-up: https://github.com/jzoss/Git-Source-Control-Provider/issues/13#issuecomment-162260012 .

[2015-12-06 23:15] PureKrome commented on #1
@jzoss installing beta 2 now...

[2015-12-07 01:25] ddobrev commented on #11
I tried switching to another branch and I got this from TortoiseGit:

Could not get a list of remotes.
libgit2 returned: Could not find repository from 'my home path/Projects/QtSharp/.git/modules'.

Git Source Control Provider obviously thinks this is my working copy. The actual repository I am working on is located at 'my home path/Projects/QtSharp/CppSharp/.git'. So it seems this provider has th

[2015-12-07 10:08] teebee76 commented on #1
Installing... , btw Love the title of the release  :-D
thanks

[2015-12-07 10:39] teebee76 commented on #1
Looks better, but not perfect ;)

This is ofcourse not a big issue, and I don't mind if I have to wait until summer to get it adjusted further.

To better Illustrate I'll include a screenshot
![image](https://cloud.githubusercontent.com/assets/5390116/11624337/6f6d9126-9cd3-11e5-87be-9b5d62b8f367.png)

first off, I like the colors very much, but some adjustments recommandations
* it's hard to read

[2015-12-07 12:33] pjdupreez commented on #11
Just installed the 1.4.1.1 update and it fixed my issue. Thanks and well done!

[2015-12-07 15:26] #12 closed

[2015-12-07 15:26] jzoss commented on #12
Fixed in beta

[2015-12-07 18:54] jzoss commented on #11
@ddobrev : It probably should be an separate issue, but I had a slow meeting this morning and it only took me 15 minutes to fix. Try 1.4.2 Beta 3.. And a note for all.. please hack at this.. If no issues are found it will become 1.4.2

[2015-12-07 19:02] jzoss commented on #1
@teebee76 - No problem.. .now that I have it switching colors based on theme.. took me like 30 secs to make the switch .. Try in now in 1.4.2 Beta 3..

[2015-12-07 19:03] #1 closed

[2015-12-07 19:03] #7 closed

[2015-12-07 19:03] #8 closed

[2015-12-07 19:03] #10 closed

[2015-12-07 19:03] #11 closed

[2015-12-07 19:30] ddobrev commented on #11
I am afraid I can see no difference with Beta 3. TortoiseGit Commit, Revert and Switch still do not work, with the latter showing the same message, and the status icons are still not updated when a file is modified. Would you like me to file a separate bug for this?

[2015-12-07 19:58] jzoss commented on #11
@ddobrev Sure.. And can you describe exactly you have your repos setup in the bug.. Also I added a GITTEST.7z file to the release.. It is how I setup my tests for this bug.. can you open that and make sure those work on your system, then tell me what I have setup incorrectly to test your situation.

[2015-12-07 20:02] ddobrev commented on #11
I've just checked your test out. Other1 is checked out within Main and it does work here for me too. So my configuration apparently has some other specifics. As soon as I have figured them out I'll file you a bug.

[2015-12-08 04:38] PureKrome commented on #13
Be nice if both became one.

I tried using the official GitHub pluging for VS (found in the nasty Team Explorer) window .. and it was just too confusing for little ole me :(

I can't live without the DIFF window, when I click on all my changed/new files in the file-list window of GSCP.

[2015-12-08 07:37] teebee76 commented on #1
2 words :)

Perfect  and Thanks :+1:

[2015-12-08 11:55] PureKrome commented on #1
Is this fix in 1.4.2 _release_ ?

I'm on 1.4.2 _release_ and my diff window is still background-white. do i need to reset some setting?

[2015-12-08 11:57] teebee76 commented on #1
I guess so, I downloaded 1.4.2 restartet vs and this is how it looks

![image](https://cloud.githubusercontent.com/assets/5390116/11655112/3717994c-9dab-11e5-9803-0fccddb4fea9.png)

[2015-12-08 14:28] jzoss commented on #1
@PureKrome  Yea it should be all dark, if you are using the dark theme.

[2015-12-08 14:42] teebee76 commented on #1
@PureKrome I noticed that if I change the theme, the windows does not update it's colors until you restart VisualStudio.

So if you are in dark theme and switch to light or blue, it will remain black until the next time you start VS and vice versa. It does not help to hide and show the pending changes window, at least not for me

[2015-12-08 15:26] jzoss commented on #1
@teebee76  You found my hidden, and totally too lazy to fix bug :) I cache the theme when you load the pending changes window.. and I don't load it again until it restarts. This was not an issue until I added a 2nd theme. I knew about it and decided to no fix it now.. because I was not sure how to fix it :) I thought it was better to get one out that work 99% of the time.

[2015-12-08 15:50] PureKrome commented on #1
Restarting VS didn't help. I actually had to change my theme THEN restart.

meh - it's-a-workin.

![](http://i.giphy.com/j5IdWWOAYzcli.gif)

[2015-12-08 16:17] jzoss commented on #13
@PureKrome You hit the nail on the head.. I will not merge if it means the scc provider goes away. I like using the same git interface inside and outside visual studio.

The truth is, that these 2 plugins are different now.. One is a SCC provider the other is not. If I can find a way to give you the git tool and let you use the built in git provider, but still be able to enable the git GSCP then I

[2015-12-08 16:20] jzoss commented on #1
@PureKrome Sorry :) I know.. I know.. I need to add a watcher to detect the theme change. :)

[2015-12-08 16:53] jzoss opened #14 "Theme does not change when you switch themes"
There is a dark theme for pending changes, but you need to switch to dark theme then restart visual studio to get it to work.. It should detect the theme change.

[2015-12-08 18:49] jzoss commented on #1
@teebee76  + @PureKrome .. I must apologize a lunch I looked at it.. and found in VS 2015 it's pretty easy to fix.. so I did.. it will be in the next release.

[2015-12-09 07:12] teebee76 commented on #1
I'd consider it a pretty unimportant bug, If users are to lazy to restart VS to make it work, they should try writing their own plugin. At least when it comes to changing something like a theme which I suppose is done pretty seldom. I know of many other applications that require a restart to change things like this.

but hey, now that you actually spent time fixing it, great :)

[2015-12-09 07:21] PureKrome commented on #1
@teebee76 it wasn't about restarting VS. it was about having to manually switch the theme back and forth, again.

[2015-12-09 07:22] jzoss commented on #1
@teebee76 yea I only fixed it because I was looking at a completely different code example .. Not related to this and there it was.. The fix.. Anyway how else has it be running? Any issues.. A guy on the plugin site said it was causing vs to freeze.. But I have not had any issues

[2015-12-09 07:26] PureKrome commented on #1
so far it's been working fine for me.... :) :+1:

[2015-12-09 08:09] teebee76 commented on #1
first off @PureKrome sorry if I sounded rude, it was never my intention to imply that you were lazy for not restarting or complaining about it. I was just thinking that there are probably more important things to fix, and that if users having too restart, or change theme manually and restart, when they want to switch a theme, fixes the problem, it would not be worth the time fixing it :)
..-but lu

[2015-12-10 02:12] PureKrome commented on #1
@teebee76 np - i didn't think you were being rude. What i was trying to say was that i had to change the theme (which is easy and 1 sec to do) but I would never have _known_ to do that - there's no suggestion or clue or discoverability. Only by reading this thread did I realise i shoudl try that.

I did what _everyone_ (i guess) would have done -> restart 1x 2x or multi-times (side note: it amazes

[2015-12-10 03:38] jzoss commented on #1
@teebee76 and @PureKrome you guys both rock in my book. My biggest annoyance is I wish there was a better place to have discussions on githib :) Anyway.. I did not have much time to do anything today.. This project has been my I'm stuck in a meeting project .. But I did get a little time.. Setup a build.. If you guys want to you can get the latest build from here and test the theme.. Anyway next i

[2015-12-14 01:03] PureKrome opened #15 "Pending changes window has crashed :("
Not sure what I did to repo this.. but ..

I just clicked the `Pending Changes` window and was show this error page/message..

[code]

le sniffles.

[2015-12-14 15:42] jzoss commented on #13
@yysun I do have a question.. That split button the the pending changes window. The one you do for TGit.. How did you do that.. I can figure it out.

[2015-12-14 21:19] jzoss commented on #15
So.. I tried to fix this.. I think I found it, but I was not able to recreate it.. Anyway can you help me out.. check out this link [build]( https://ci.appveyor.com/api/buildjobs/3362l96s4v4aexbe/artifacts/GitSccProvider/bin/Release/GitSccProvider.vsix) I put the fix in there.. So.. there is also a few other changes in there, if you want to tell me what you think.. The theme switching is fixed.. I

[2015-12-15 01:25] PureKrome commented on #15
Just installed it .. now trying it out. :clap:

[2015-12-15 15:11] yysun commented on #13
@jzoss, the button is defined in the .vstc file to have flags to enable dynamic menu

<CommandFlag>DynamicItemStart</CommandFlag>
<CommandFlag>DefaultInvisible</CommandFlag>
<CommandFlag>FixMenuController</CommandFlag>

And in the package code, dynamically add the menus

for (int i = 0; i < GitToolCommands.GitTorCommands.Count; i++)
{
    cmd = new CommandID(GuidList.guidVsGitToolsPackageCmdSet, P

[2015-12-16 10:24] teebee76 opened #16 "Changes did not update solutionExplorer-glyphs and pending changes on project"
When I did a commit on one of my projects earlier today, I noticed that the commit seemed to hang
![image](https://cloud.githubusercontent.com/assets/5390116/11837530/cd98c2e2-a3e1-11e5-8184-0e93e9fa590a.png)
Even though it emptied the changed files list in the Pending Changes-window, it did not update the status of the glyphs/SourceControlStatusIcons on my project.
![image](https://cloud.githubus

[2015-12-16 15:21] wilhen01 commented on #13
Didn't even know about Git Tools until I read this thread. Just installed it and tried it out...performance compared to Git Source Control Provider is *dreadful*. Visual Studio hanging for 3 seconds every time I change a file? No thanks. I don't know if that's something specific to the plugin implementation or whether it's the underlying Git Provider from MS that's at fault but either way it's pre

[2015-12-16 15:26] jzoss commented on #16
@teebee76 OK.. I will look into it. The build I put out today should fix the Pending updates refresh in the beta.. I am moving away from the auto-update cycle.. I was doing it based on file updates.. and well in the last build I forgot to subscribe to the event. I noticed the autoupdate cycle could cause a slow down..Check out the new git ignore menu... Try the update gitignore :) IT's fun..

[2015-12-16 17:10] jzoss commented on #13
@wilhen01 Performance is a big concern for me.. It's what I have been spending mos of my time trying to improve. The first version I put out 1.3.1 was a direct port of the old code basically, it performance was not all that good, just because it was created for an older version of VS and it was done the way you did things for those versions. 1.4 did improve performance a bunch, but it broke lot's

[2015-12-16 20:43] PureKrome commented on #13
Hey @jzoss - i've disabled the plugin since I grabbed the latest (beta) release (from GH, not the offical download). It's been handing my VS. With Resharper disabled, it's not THAT noticable .. but with R# enabled - it's not good at all. I might have to revert BACK to the latest public release.

I've been holding off on reporting this because I don't know how to get an accurate repo of the issue (

[2015-12-16 22:11] jzoss commented on #13
@PureKrome So you mean.. VS is freezing or something when you have resharper installed? I think I may be seeing the same thing.. I just pushed some updated code..so there is a new build.. cleans up a lot more bug and stuff.. You can try that one.. It seems better to me. I'm a bit worried that my file watchers and R# filewatchers are getting mad at each other.. The good news is the newest build.. t

[2015-12-16 23:06] PureKrome commented on #13
@jzoss yep - that's what I ment.

i'll download the (newest) latest, again .. and keep u posted.

[2015-12-16 23:30] jzoss commented on #13
Sorry.. Check this link https://ci.appveyor.com/project/jzoss/git-source-control-provider.. Get the latest... I had no idea the issue.. Then drove home and I think I got it.. If I'm right and you get the latest and have a proper git ignore (use the update gitignore in the pending changes window) I think it will go away.. And I can put in a proper fix in.

[2015-12-16 23:54] teebee76 commented on #13
Wow,  this is so cool.  Almost can't wait until tomorrow to get back to work and install the ci-build :)

-------- Original message --------
From: jzoss <notifications@github.com>
Date: 17/12/2015 00:40 (GMT+01:00)
To: jzoss/Git-Source-Control-Provider <Git-Source-Control-Provider@noreply.github.com>
Cc: Trond Børresen <trond@platekompaniet.no>
Subject: Re: [Git-Source-Control-Provider] What is th

[2015-12-17 01:19] PureKrome commented on #13
I'm pretty sure I have the version from CI.

-> open sln.
-> nothing listing in the CHANGED FILES list. I have one file changed (i did this before I opened VS).
-> used TortoiseGIT to commit.
-> VS crashed :/

spider sense is giving me the feeling that might not be good.

Also -> maybe this convo should be in another thread IMO.

[2015-12-17 01:31] jzoss commented on #13
@PureKrome i was thinking the same. Anyway you can make a new bug.. Or if you have any suggestions. I will look at it in a 2nd computer in a bit. Also if you check out the version of the plugin in visual studio.. It gets set in the c.I. build .. So the last ci build was 1.4.2.31 .. If you don't make a bug I will when I get a few minutes

[2015-12-17 04:11] jzoss opened #17 "Release 1.5 discussion"
Place to talk about the nightly build

[2015-12-17 04:11] #14 closed

[2015-12-17 10:25] wilhen01 commented on #13
@jzoss performance under Git Source Control Provider 1.4.2 is really good for me, miles better than what I experience with Git Tools / MS Git provider. Great work :+1:

It would be neat if the projects could be merged from the functionality point of view but I thoroughly agree with you re: performance; if you can't get all the features in without sacrificing performance then don't do it!

Cheers,

[2015-12-17 20:16] jzoss commented on #17
OK.. so.. I am starting to think the CI build server might not be exactly right.. I get a different size build and It seems to have some bugs that are not present when I build locally. Anyway, I made a release to here https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/1.4.2.36 .. it should be the same but it's not..

Anyway.. Please check out the new build and test it.. It should be

[2015-12-17 20:19] jzoss commented on #13
@teebee76 @PureKrome @wilhen01 .. and anyone else who might be interested.. The [PreRelease]( https://github.com/jzoss/Git-Source-Control-Provider/issues/17) thread and try out the new build for me.. Help me find bugs .. all that stuff

[2015-12-17 22:38] PureKrome commented on #17
Pew^Pew

[2015-12-18 01:11] PureKrome commented on #17
Still getting VS crashes :/

I _think_ it's when i switch a branch (using TGit from Explorer) to an existing branch .. which has some commits already outstanding.

and then i open the sln (VS is already open) and :hankey: happens.

[2015-12-18 01:36] jzoss commented on #17
Blerg.. OK.. Is that with the c.I. build or the one I posted in the release tab? Anyway.. At least I should be able to recreate that..

[2015-12-18 01:40] PureKrome commented on #17
*Release Tab* build.

[2015-12-18 03:04] jzoss commented on #17
Ok.. is there anything in the activity log... I can recreate it yet.. I have a few ideas..

[2015-12-18 04:19] jzoss commented on #17
@PureKrome .. OK.. I did some digging.. who would have thought converting from an infinite loop to asynchronous events would be so difficult :) .. anyway.. I have a new [build](https://ci.appveyor.com/api/buildjobs/8ko8t6mh25mlhu58/artifacts/GitSccProvider/bin/Release/GitSccProvider.vsix) I think it's better.. Anyway before the crashing and stuff.. how was the performance?

[2015-12-18 06:01] PureKrome commented on #17
where do i find this?

[2015-12-18 06:32] jzoss commented on #17
%APPDATA%\Microsoft\VisualStudio\Version\ActivityLog.xml. ... But now that I've read about it.. I'm guessing I failed to log to it correctly

[2015-12-18 10:09] teebee76 commented on #17
Just got the latest CI-build, and right off I still notice the bug with the .gitignore Icon is still seperated from the .gitignore "menu"
Illustrated by this image.
![image](https://cloud.githubusercontent.com/assets/5390116/11894229/1ce4ba0a-a576-11e5-9bcf-1db1bd2424b4.png)

Next I think maybe I figured out why my pending changes window wasn't displaying the changes (reported in #16)
I noticed th

[2015-12-18 10:14] teebee76 opened #18 ".gitignore menu is seperated from its icon"
Like the title implies the menu icon for .gitignore and the text is seperated by multiple other options
illustrated by this image
![image](https://cloud.githubusercontent.com/assets/5390116/11894580/6d61801a-a578-11e5-892f-6aa15d968418.png)

[2015-12-18 10:35] teebee76 commented on #17
Testing the build  you linked to in your post 6 hours back, I notice the same behaviour.

I just tried changing branch from the pending changes window (still not showing the proper branch) I first had to wait about 30 seconds for the window to dissappear, and then another 15 seconds before I got the "file open in editor changed from outside source, update or ignore.."
the editor is pretty slow aft

[2015-12-18 22:04] jzoss commented on #17
@PureKrome , @teebee76 --- So.. I stayed up way to late last night.. and spent more time today than I should :) working on a new build. Anyway.. I did not fix the button on the gitignore yet :) Buttons are strangely complicated in VS extensions... Anyway.. checkout the new C.I. build.. I know the branch name is fixed.. I think the performance slow down is fixed now too.. but you never know.. it co

[2015-12-20 12:50] PureKrome commented on #17
Sometimes finding it slow for the Pending Changes file list, to actually realise i have some new files that are changed.

[2015-12-22 11:21] wilhen01 opened #21 "Plugin sometimes fails on VS start"
![image](https://cloud.githubusercontent.com/assets/4677718/11954148/0a5cafc0-a89e-11e5-8853-15e235346a6b.png)

Seen on Visual Studio start intermittently, usually fixed by closing and reopening. Activity log has the following:

[code]

I'm using v1.4.2

[2015-12-22 11:25] wilhen01 opened #22 "Plugin sometimes fails to connect to git repo"
Sometimes when I load Visual Studio the plugin fails to connect to the git repo. No branch name is displayed and if I press any of the buttons I get the following error:

![image](https://cloud.githubusercontent.com/assets/4677718/11954227/b3427944-a89e-11e5-96a1-3677e8103cc1.png)

Usually fixed by a restart.

[2015-12-22 15:59] jzoss commented on #21
I am pretty sure I already fixed this in the pre-1.4.3 release.. but I will double check.

[2015-12-22 16:20] wilhen01 commented on #21
Thanks @jzoss! Haven't had time to install the pre-1.4.3 build yet, and I'm on holiday from tomorrow until next year so won't happen til Jan now.

[2015-12-22 19:11] jzoss commented on #21
Don't worry..I'm doing the same thing.. Just finishing up at work before my holiday.. Have a good one.. Talk you you next year!

[2015-12-29 03:05] PureKrome commented on #17
Totally understand that it's holidays, etc: Just recording my experience so far with `1.4.45` - still no files listed under `Pending Changes`.

[2015-12-30 01:29] jzoss commented on #17
That makes me sad :( .. Pending changes I thought was working for me.. I'm technically on holiday till next week.. But if my wife let's me I may play a bit tonight

[2015-12-30 01:45] PureKrome commented on #17
It's all good - RL/Holidays/Wife > OSS projects.

[2015-12-30 14:19] teebee76 commented on #17
Sorry for staying so quite for so long, but I had to work on other non c# projects, and while doing a hotfix on one of the c# projects I had to disable the plugin and use sourcetree instead, because the plugin was slowing VS down. still with the 1.4.49 release, I will check more in start of january or maybe tomorrow when I will spend some hours at work. At home with the kid today, just enough time

[2016-01-02 06:38] jzoss commented on #17
@teebee76 no worries :) first star wars was good... Not Empire Strikes Back good.. But better than all the prequels.

So this release is a big clean up.. I rewrote all the git integration stuff trying to make it fast and use less memory. Anyway I'm want to get through this and make it awesome fast. But the big reason I wanted to fix it all was so I could start adding new features.. And truth is, f

[2016-01-04 15:51] jzoss commented on #17
@teebee76 Question for you.. can you describe your visual studio project? I'm trying to track down the slowness.. Does it have multiple repos? How many files-ish? Just trying to reproduce that error :) Also if you could ever give me read only access to the code.. So I could debug.. that might help.. but I don't expect that at all :)

[2016-01-04 17:05] teebee76 commented on #17
sure. I think read access will be difficult, I have the repo on a "local" remote server, but I can summarize the specs for the solution.

The solution contains 3 projects and they are all under 1 git repository.

The folder structure is as follows
\solution\.git
\solution\project1
\solution\project2
\solution\project3
\solution\packages (Nuget)

including all binaries and object folders the soluti

[2016-01-04 23:30] jzoss commented on #17
So I had a bit of time to try some thing today.. I THINK.... That I have a good chance that fixed a big performance issue. @teebee76 You should test it and tell me if you see a difference ..

@PureKrome .. I added a new feature that may fix the Pending changes window. Check it out in the options.

![capture](https://cloud.githubusercontent.com/assets/3586254/12103528/798ad51a-b308-11e5-8a12-4f122a

[2016-01-04 23:40] PureKrome commented on #17
I don't understand this statement.

When I open VS doesn't it just look for the `.git` folder that should be in the root folder, for the solution?

so if i keep opening up multiple VS's, then each VS instance is referring to a single `.git` folder / active repo.

Which means having that checkbox option, is not required?

[2016-01-05 01:19] jzoss commented on #17
Sorry... I was really not clear.. I meant to say .. if you have multiple git repo under 1 solution.. I thought you said you had it that way.... but I was totally wrong :) All this does is IF you do have multiple repos.. like a submodule or whatever it handles that.

[2016-01-05 01:26] PureKrome commented on #17
AHHH! i've never had multiple repo's per solution.

i never knew you could, either :confused:

I'll also never do that, too :)

[2016-01-05 01:29] jzoss commented on #17
@PureKrome I also never have done it myself... but I guess some people do.. Sorta a big pain.. I guess if you have a submodule.. Which I sorta hate... Anyway.. I found 2 big bugs.. that could be causing the slow downs.. I can't break pending changes myself... yet... but tell me if it's still not working.

[2016-01-05 01:49] PureKrome commented on #17
new release is up, somewhere?

[2016-01-05 03:17] jzoss commented on #17
@PureKrome Yea... the CI build.. There is a sorta big-ish bug.. Switching can crash Visual Studio.. But I think I just about have it fixed.

[2016-01-05 06:33] jzoss commented on #17
So there is a new C.I. Build.. for some reason the version updating got messed up .. OK I fixed a few more bugs... not there yet but I feel I am actually close to a stable release.. But I think this one is clear of most bugs.. Should faster too.. Reshaper not causing issues yet.. Anyway.. I know the branch name is not updating correctly just yet... The current C.I. build is 1.4.52...  bed time..

[2016-01-05 07:02] teebee76 commented on #17
first sorry for not having time to look at this yesterday evening, I got to the computer too late after beeing forced to do some house-cleaning instead. And when I was about to release the new feature I noticed that the external consultant made an error that caused sql-issues to the system, so a bit stressed about that, it beeing a production system and all .. anyways ...

just wanted to say, that

[2016-01-05 07:05] teebee76 commented on #17
yeah, and @jzoss , is there a way to make that CI-link sticky or something? I always have a hard time finding it :D

[2016-01-05 07:10] jzoss commented on #17
Yea.. It's in the read me on the front page.. But I'll find a better way later.. Anyway check out the new feature then.. You may like it :) OK very late.. This release had turned out to be much more complicated than I thought..

[2016-01-05 07:13] teebee76 commented on #17
I'm back at work after about 4 hours of sleep I guess, and my son was crying one of them... I hope you will sleep better, and keep up the good work :+1:  I will look for the link again :)

[2016-01-05 07:19] jzoss commented on #17
Yes.. My 3.5 year old boy and 2 year old girl both have a cold... At least they are sleeping now.. I love when contractors give your more work.. Don't you :)

[2016-01-05 22:31] jzoss commented on #17
Hey guy.. .got a bit more time to work on it.. New C.I. build is up (Just for you @teebee76 https://goo.gl/dF48Tp ) Anyway.. Threading is moving along. Starting to move faster.. It uses a lot less memory now.. I need to clean up a few more little things.. like the .gitignore bug.. and I want to clean up the filewatcher just a bit.. BUT.. I think I am close to a beta 1 build..

[2016-01-05 22:32] PureKrome commented on #17
Nice work :) keep up the effort!

[2016-01-07 16:58] teebee76 commented on #17
Been sick a couple of days  previous release i checked out worked a øot better for me,  some things i noticed.  I will  check out this build eagerly tomorrow morning  or later tonight after bedtime if i get too curious :)

Sent from my Samsung device

-------- Original message --------
From: jzoss <notifications@github.com>
Date: 05/01/2016 23:32 (GMT+01:00)
To: jzoss/Git-Source-Control-Provider <

[2016-01-07 17:31] jzoss commented on #17
@teebee76 hope you feel better. Did you mean the latest build worked a lot better for you? That would be sweet. Anyway.. I was about to push the latest build from C.I. to an actual pre-release.. 1.5 beta 1.. I fixed a few more little bugs.

[2016-01-07 18:52] teebee76 commented on #17
I haven't tried the latest yet,  the version i have on my computer was the one from 2 days ago or something like that,  when we last "spoke" on github :)  your kids had the flu or something..  When my kid is tucked in I will fire up the computer to get the newest :)

Sent from my Samsung device

-------- Original message --------
From: jzoss <notifications@github.com>
Date: 07/01/2016 18:31 (GMT+0

[2016-01-07 20:06] jzoss commented on #17
@teebee76 Kids just a cold :) I meant to ask the last version you tried worked better than the previous versions? That was the first to fix the resharper bug... I think :)

[2016-01-07 21:48] PureKrome commented on #17
- What was the resharper bug, please?
- Can we ammend the title to: Release 1.5 discussion.
- Add a 1.5 milestone.

:balloon:

[2016-01-07 22:09] jzoss commented on #17
@PureKrome -- The resharper bug was not one that we even had entered a bug.. but it had be noticed a by a few people.. Basically when using both the git plugin and resharper visual studio would get really slow.  There was a few causes to this, but I think the main cause I *THINK* was both plugins were using the on visual studio idle event to process ui state. The git plugin no longer uses it.. Als

[2016-01-07 22:10] jzoss commented on #15
Fixed in 1.5 release

[2016-01-07 22:10] #15 closed

[2016-01-07 22:10] jzoss commented on #16
Fixed in 1.5

[2016-01-07 22:12] jzoss commented on #18
Mostly Fixed.. does not have the pretty button next to it yet

[2016-01-07 22:13] jzoss commented on #21
Fixed in 1.5

[2016-01-07 22:13] #21 closed

[2016-01-07 22:14] #16 closed

[2016-01-07 22:25] jzoss commented on #17
As promised .. Beta 1.. Might be a little rough around the edges.. but.. I think it's the best release yet.. It's fast, uses less memory, does not throw a bunch of exceptions :+1: So please break it :) tell me waht you think.

Link -  https://goo.gl/hqh9ow

[2016-01-07 22:27] jzoss commented on #22
@wilhen01 -- So while I never was able to get this exact issue myself.. I am pretty sure I fixed it.. 1.5 Beta 1 is out if you want to give it a try. https://goo.gl/hqh9ow

[2016-01-07 22:27] PureKrome commented on #17
installed at now testing... :+1:

[2016-01-07 22:48] teebee76 commented on #17
Ooooh so excited right now!
 But at the moment my girlfriends using my computer,  and it's a quarter to midnight,  so I guess I'll just have to dream about the wonderful new world og git source control provider until I'm at work  tomorrow.
And I forgot to mention earlier that I too use ReSharper.  So the slowdown on my system was probably due to ReSharper not the structure of my solution/projects.

[2016-01-07 23:54] jzoss commented on #22
OK.. I'm pretty sure this is fixed.. I'll close it for now.. But I can reopen it if you encounter it again

[2016-01-07 23:54] #22 closed

[2016-01-08 01:41] jzoss commented on #17
@teebee76 Tell me what you think.. Glad you are excited.. I have spent wayyyyyy to much time on this release especially for something I don't get paid :) But I admit it's fun. I work on mostly on internal software so I don't do much code that people actually see. Anyway @teebee76 and @PureKrome you guys helped a lot :) Thanks.. And to reward you.. Once I get a few minutes.. I'm going to ask for yo

[2016-01-08 02:42] PureKrome commented on #17
any code reviews required? just post links to the GH code and we can review for you.

![](https://vice-images.vice.com/images/content-images/2015/05/07/i-ate-the-wasteland-being-a-cannibal-in-fallout-new-vegas-253-body-image-1431000629.jpg?resize=*:*&output-quality=75)

[2016-01-08 03:33] jzoss commented on #17
You never know.. Might have lots of code for you to review.. Keep you busy.. Truth is I'm not exactly proud of the code.. It was is rough shape when I got it.. And while I think I've made it better.. It's still has that good old code smell. Lots of unused code that needs removing.. Fun times!

[2016-01-08 09:01] wilhen01 commented on #22
Nice one, will install the new beta and let you know how I get on :+1:

[2016-01-11 02:31] yyjdelete opened #23 "Missing Method `Void LibGit2Sharp.Repository..ctor(System.String)` for 1.5 Beta 1?"
[code]

[2016-01-11 02:54] yyjdelete commented on #23
It seems that GitScc use an newer API in LibGit2Sharp but not bind to an special version (range) of LibGit2Sharp, so it conflicted with other extensions which use LibGit2Sharp.
Such as [(MS) Developer Assistant 2015](https://visualstudiogallery.msdn.microsoft.com/5d01e3bd-6433-47f2-9c6d-a9da52d172cc), [Git Diff Margin](https://visualstudiogallery.msdn.microsoft.com/cf49cf30-2ca6-4ea0-b7cc-6a8e0dad

[2016-01-11 04:52] jzoss commented on #23
Good catch.. I'm guessing/hoping I just need to update the project dependency to use a specific version :) I have 1 other fix I want for beta 2 which I think I'm close to done with.. So hopefully in the next day or so I'll put out beta 2 with this fix.

[2016-01-11 07:54] teebee76 commented on #17
Finally back at work with a little spare time to do some gscp-testing :) I notice the 2 latest builds failed, so I guess the last running is the 1.4.58 ? I'll have a look and report back with my findings...

[2016-01-11 11:10] teebee76 opened #24 "Background-color gone missing again"
The black background of pending changes window has gone missing again.

![image](https://cloud.githubusercontent.com/assets/5390116/12232015/fd190e30-b85b-11e5-8ed5-82a28c939a91.png)

now it is like it used to be before you fixed it last time, with the dark grey background instead of the same black that is behind the letters and spaces..

[2016-01-11 11:14] teebee76 opened #25 "Solution Explorer Glyphs not updating"
The glyphs in the Solution Explorer doesn't update, or does so very slowly.

If I perform a change to a file that is unmodified, the file instantly appears in the pending changes window, but does not start showing the symbol for modifed in the solution Explorer.

The same happens if I have a file that is modified, and reverts it to it's checked in state, still does not show the padlock in solution

[2016-01-11 11:25] teebee76 commented on #17
Somethings I've noticed are reported below, I made new issues for a couple of them, but the rest I'm not actually sure that are bugs, so I skipped the issue-creation until discussed.

In the pending changes window, the branch used to be in parentheses like this:
"Pending changes (develop)"
Personally I like it better this way, because it makes it more distinct and visible, not part of the static t

[2016-01-11 15:15] PureKrome commented on #17
Just some quick feedback. So far it feels way more stable/usable.

[2016-01-11 15:58] jzoss commented on #17
@PureKrome Cool :+1:  That is what I am going for most of all :) Go to figure out a few things yet.. Like @teebee76 issues.. The Solution Explorer should update fast like the pending changes..

About the C.I. builds.. I was doing a bit of work on other branches.. trying things out.. I thought the C.I. build was just pointing the master.. but I guess it does it all :) Next Beta build will include o

[2016-01-12 06:55] jzoss commented on #17
So.. I think I just found why the solution explorer is not updating.. And a word to the wise.. When setting up you test repos.. Add more then one file.. To test.. Because in my case.. The very first file in the repos update just fine.. Just no other file is updating.. Anyway if you want to see how fast it should be.. Change the first class in a project.. It's might fast.. Not that it makes it much

[2016-01-12 07:05] teebee76 commented on #17
Great job finding that bug, just tested what you said, and not sure which file was determined to be the first, since this is a web-project, I can inform that would be the first .aspx-file in the root-folder.

The glyph changed like blitzed lightning just like the pending changes window, so it is almost scary-fast, how will I ever notice the changes when they are so fast? It's like the program know

[2016-01-12 07:39] teebee76 commented on #17
Noticed another bug while checking in files. Seems to me that when I check certain files, enter a comment and press commit half of the times the file will get staged instead of commited.

![image](https://cloud.githubusercontent.com/assets/5390116/12257179/569babb8-b904-11e5-8afa-baca0f1c4926.png)

I checked in 4 files one-by-one the first committed, second was staged, third was committed (along w

[2016-01-12 18:49] #25 closed

[2016-01-12 18:49] #24 closed

[2016-01-12 20:18] jzoss commented on #17
Ok.. People .. Beta 2 is out.. should address many of the issues, but not all I guess :) Solution explorer is updating again :+1:  And the super important background  color is fixed.
goo.gl/V9eSlv

There is still a few things that need to be done.. If anyone has an idea on #23 I am looking for suggestions. I made one update .. I switched the code from .Net 4.5 to 4.5.2 because I read somewhere tha

[2016-01-12 20:19] jzoss commented on #23
Can you try Beta 2.. I guessed at a fix.. Check out the main 1.5 thread for what I did.. But if it did not fix it I will try again soon.

[2016-01-15 05:59] jzoss commented on #23
Fixed in Beta 3

[2016-01-15 05:59] #23 closed

[2016-01-15 06:07] jzoss commented on #17
Hello there.. Been sorta quite around here :) Anyway... I have just put up Beta 3 [https://goo.gl/Q7eRZM] It should fix #23, Also should fix a threading issue that could cause visual studio to slow down.. Anyway.. I am hoping this will be the last beta release.. @PureKrome + @teebee76  if you can hack on it hard.. Pay attention to building and add lot's of files.. If you or anyone else see times w

[2016-01-15 10:34] PureKrome commented on #17
installed and testing over the next few days.

:clap: :+1:

[2016-01-15 12:52] teebee76 commented on #17
I will bring my computer home this weekend, maybe I will have time to use I don't know yet .. but will try . probably not going crosscontry-skiing if the temp stays below -15 anyway, so then I'll have time to do some coding instead :+1:  keep up the good work, will report anything suspicious

[2016-01-15 22:10] jzoss commented on #17
@teebee76 @PureKrome Thanks.. Have a good one weekend.. @teebee76  Stay warm.. going to get cold.. wanted to go out this weekend as well.. but... -22c this weekend with -40c windchill .. Might just stay in myself.

[2016-01-18 14:32] 0x084E opened #26 "'Compare...' context menu item not working if default git tool is used"
I'm using CodeCompare as diff tool which is configured in `.gitconfig` with the following command
[code]
If I choose 'Default Git Tool' in the settings and click 'Compare..' in the context menu of 'Changed files' nothing happens and I see 'File not found' message in VS status bar.
I've tried different command path formats (foward slash, backslash, single/double quotation marks etc.) but I was not

[2016-01-19 12:03] 0x084E opened #27 "VS crash if opening a file which is not part of any repository"
If you open a file in VS which is not part of a git repository VS crashes with a NullReferenceException with the following stack trace (I'm using 1.5 Beta 3)
[code]

[2016-01-19 16:42] jzoss commented on #27
Fixed in the latest C.I. build.. Will be part of the next beta/RC build too.. But if you want you can install it from https://ci.appveyor.com/project/jzoss/git-source-control-provider/build/artifacts

[2016-01-19 16:42] #27 closed

[2016-01-20 07:39] jzoss commented on #17
Hey guys.. A bit sleepy.. So much I didn't even make a release yet.. I want to clean the last few things up.. Anyway I will explain more later.. But I had to do a bit of a overhaul in a few places. .. Anyway need to clean up things are renaming and deleting files.. Anyway please install the release from ci.. @teebee76 and @Purekrome ... How's beta 3 going.. Been quite around here.. Either of you g

[2016-01-20 08:30] teebee76 commented on #17
I will get the newest fra CI, and check it out. Haven't noticed anything particular with regular use of the version I am using now.. only the minor cosmetic things I mentioned earlier.
When it comes to Build 2016, I hadn't heard of it until now.. And even if I had known about it, I still wouldn't have left. The company I work for probably wouldn't see the benefit and pay the travel-expenses, and i

[2016-01-20 08:44] teebee76 commented on #17
ooh Nice, you fixed the parantheses around the branch :D

[2016-01-20 11:58] PureKrome commented on #17
@jzoss so far (while i'm on holidays at the beach/pool) my small amout of coding == no noticed issues with the _previous_ Jan 15th release. :+1: :+1: So, so far so good IMO :smile:

re: //build '16 - nope. I usually don't go to these things cause of the massive :moneybag: costs and I usually have a pretty good idea of what's coming as I keep my ear to the ground with shiny, new bits coming out of

[2016-01-20 12:36] 0x084E commented on #27
Perfect, thanks for the fast fix!

[2016-01-20 13:14] teebee76 commented on #17
did notice some out of sync action again :disappointed:
and pending changes - refresh didn't help.

I noticed this kind of out-of-sync earlier at one point, but when I did a "git status" from the git bash, it was updated (might have been a coincidence?)

I also noticed that now all of a sudden the pending changes branch suddently no longer includes the parantheses that was there earlier today ...

[2016-01-20 17:45] jzoss commented on #26
Ok.. I figured it out.. Not really a bug, but I may make something later to make this easier .. Anyway.. The issue is the "Program Files" space.. anyway I tried what they suggested on their site and that did not work either.. but when I changed what you had to

[difftool "codecompare"]
cmd = \""C:/Program Files/Devart/Code Compare/CodeCompare.exe"\" /SC=Git /W "$LOCAL" "$REMOTE"
renames = true

It

[2016-01-20 17:45] #26 closed

[2016-01-20 18:17] jzoss commented on #17
@teebee76 You are right on a few counts.. First.. doing an external status can effect the status..So.. and I can go into much more detail later ... I have a file watcher .. it watches the git directory.. and it watches for 2 types of files events... File changes in your normal files.. like editing a code file and file changes in the .git directory of GIt events.. Anyway the git events tell me when

[2016-01-21 07:00] teebee76 commented on #17
crap I had written this down, but it was still in edit-mode when I left yesterday ...

There is also something fishy happening when switching branches...

starting off in my develop branch... everything looks clean.
![image](https://cloud.githubusercontent.com/assets/5390116/12450512/8a26b5f0-bf84-11e5-8db2-c609c84de3e6.png)

![image](https://cloud.githubusercontent.com/assets/5390116/12450523/9ac

[2016-01-21 09:32] 0x084E commented on #26
It's always a space :-)

Nice one, didn't thought about using this kind of double quoting, works fine also for the build-in git provider. I've also added this around $LOCAL and $REMOTE to avoid problems with spaces in these file names, too.
[code]
Thanks for taking the time to investigate this!

[2016-01-21 10:15] teebee76 commented on #17
Did some more testing today ...

This time without invoking external git-events... I hope :smile:

Starting off with a clean  working dir in branch develop.
![image](https://cloud.githubusercontent.com/assets/5390116/12476528/35d5ea56-c02a-11e5-96ad-4b7c2e081781.png)

Starting VS, first off I notice a difference from Solution Explorer and Pending Changes...
![image](https://cloud.githubusercontent

[2016-01-21 22:36] jzoss commented on #17
Ok.. So... ever have one of those little bugs.. that all the sudden turn into a big PITA :) Where you redo annoying amount of your code to fix.. Well.. I found one :) I may go into a huge amount of detail later.. Once my brain recovers... But everyone get excited for Beta 4 https://goo.gl/8nyt29  @teebee76 this should solve the things you were running into.. @PureKrome .. You should sit by the poo

[2016-01-21 22:38] jzoss commented on #26
Yea.. I may try to fix it up somehow.. .my brain is starts to hurt from this 1.5 release.. anyway give beta 4 a try . tell me what you think .

[2016-01-21 22:39] PureKrome commented on #17
Just leaving in 10 mins on a road trip for the weekend :+1: will try this in a few days when i get back.

Keep up the work/posts @jzoss :cake:

[2016-01-22 08:00] teebee76 commented on #17
Super !
just installing it now and will hack at it during work-hours :smiley:

I really like your dedication @jzoss  :+1:

[2016-01-22 18:57] jzoss opened #28 "Make a new ICON and Preview Image"
So.. I have very little talent when it comes to anything graphic artist related.. Anyway.. I need a new Icon and preview image.. It would be sweet it someone could make them... or at least suggest what I should use..

Icon needs to be 32x32px and preview image 200x200p (https://msdn.microsoft.com/en-us/library/ee943167.aspx)

I tried a bit.. and it turned out way bad :)

[2016-01-23 09:54] 0x084E commented on #26
Beta 4 is working fine for me. Multi repository support makes this extension a killer over the build in provider (and any other git extension I've used so far). The new tracking in 1.5 makes it even better and I haven't noticed any issues with it in beta 4 :+1:

[2016-01-25 16:07] jzoss commented on #26
Sweet glad to hear it.. Nice that people like it .. Anyway.. There is a bug in beta 5... It's can use too many threads.. The next release *should* fix it.. Once you get the next release try switching branches a lot.. with lots of file changes..  Anyway. thanks for you help testing!

[2016-01-25 22:44] jbestrom opened #29 "Filter pending changes by solution"
I don't know enough about VS addin dev to offer a solution or I would.

But would it be possible to have an option to hide changed files that are not part of the solution that is opened?

I have a client and server solution that I open in 2 separate instances of VS they are in the same repo though and all the changed files show in each VS pending changes window.

Example:
Repo has changes to clien

[2016-01-26 05:07] jzoss commented on #29
It's a bit of work.. It might not be that bad.. because I do most of the filtering for the solution explorer refresh.. Anyway.. I am really close to 1.5 RC 1... I may have time to throw this in before I cut off more changes..

BTW..  this add-on is my first go at it... just sorta went crazy.. Probably bit off a bit more than I could chew.. But that's how you learn I guess :)

[2016-01-26 06:21] jzoss commented on #17
Ok.. I'm a bit excited :) I finally think I have it done it.. After way too much time spent.. and learning way too much about internal threading of visual studio .. Tonight I think I finally fixed the last nagging issue... And so... tonight I give you 1.5 RC 1.. I will hopefully become the final release.. though I may fix #29. Anyway.. this all the internal stuff should be done.. Please try switch

[2016-01-26 07:44] teebee76 commented on #17
Ooh looking forward to testing it today :+1:

Did a quick branch switch before I got started, and must sadly report that it doesn't change like before :disappointed:

Opening visual studio I have 2 files with changes on my develop branch
![image](https://cloud.githubusercontent.com/assets/5390116/12574902/5b677f78-c408-11e5-87f4-8a5e5e3fe5be.png)
I then switch to my master without staging those ch

[2016-01-26 07:52] teebee76 commented on #17
by the way, the new Icon on the extension, there's nothing wrong with that. It's sharp and easily recognizable for people using GIT from before, it looks pretty much like the original icon for GIT :smile:

[2016-01-26 09:47] 0x084E commented on #17
I've played a bit with branch switching and noticed a little problem:
If a project or solution file changes and you force VS to show the dialog which offers you to reload the project/solution (e.g. with klicking into the editor) while the provider is still busy with switching, the dialog is shown and immediately hidden (i think in the moment the provider is finished with switching). After this you

[2016-01-26 10:22] teebee76 commented on #17
@0x084E when you switched branches, did the it visually change for you? Maybe it's just my structure or setup that prevents my VS to display the correct branchname in the title of Solution Explorer and Pending Changes windows ...

[2016-01-26 12:00] 0x084E commented on #17
No, it doesn't. I didn't notice this because of the solution file change. If I reload the solution after switching the title is fine, of course.

[2016-01-26 12:37] teebee76 commented on #17
A short update. Noticed I had one update of Visual studio pending .... so I did that update (which took like 30minutes or so .. )

started my project again and voila
![image](https://cloud.githubusercontent.com/assets/5390116/12580598/26cf873c-c431-11e5-9353-9f34ff5bd0ce.png)

I thought I'd mention what update I did, so I went over to Help About to find versionnumber etc..
![image](https://cloud.g

[2016-01-26 15:16] jzoss commented on #17
Ok Everyone.. and of course @teebee76 .. Do you want ( ) around all the branch names?

I think I know why the branch names are not changing.. the answer is they are.. bu then they are getting reset :)

@0x084E Thanks for the heads up. I hope I can find this issue.. I hope It's fixed by using the new threading fix I did.. Just a note.. I THINK if you wait long enough visual studio will come back..

[2016-01-26 15:23] jbestrom commented on #29
Yea i'm trying to learn a bit about it all now too so I may be able to help. I'm just not grasping yet how to cycle through all the projects/files in a solution. In my case I have the 2 main solutions with multiple projects each (all under one repo)

[2016-01-26 15:39] 0x084E commented on #17
I've tried this a little bit more and I think I've found another detail:
The problem described above only happens if you click into VS while the 'Switch Branch'-Dialog is open (but after you clicked 'OK'). So it seems to me that closing the 'Switch Branch'-Dialog also closes the other dialog in any way.
After this happened, if you click into VS you hear the typical sound windows is playing if a mo

[2016-01-26 15:46] jzoss commented on #17
@0x084E -- Interesting.. I take it you are talking about the switch branch in the pending changes window?

[2016-01-26 16:16] 0x084E commented on #17
@jzoss Yes, I am. Sorry if this wasn't clear.
I had a look at the source code and tried changing the btnOK_Click method in BranchPcker.xaml.cs to be synchronous (with accessing Task.Result instead of using await Task) and now the switch dialog never gets closed (but the branch gets switched).
I'm neither a VS Extension nor a WPF expert so maybe I'm missing something obvious but this seems a little

[2016-01-26 16:16] jzoss commented on #29
Yea.. I think I have a good idea on how to do it.. I'll probably put it in to 1.5.

So.. If you are REALLY bored .. try checking out the code and compile it.  .. I just merged the branch into master.. IT SHOULD compile if you have visual studio extensibility tools 2015 installed :)

So..I can describe how you would do it too.. I have all the plumbing to do it, so it should not be hard.. I'm muckin

[2016-01-26 16:19] jbestrom commented on #29
Yep I have everything needed to compile. I'm actually right now doing a bit of debugging in/around the pending changes window because I'm seeing sometimes where it won't actually open the file i'm telling it to.

[2016-01-26 16:19] jzoss commented on #17
@0x084E Ha .. I was not either, before I went on this crazyness.. First do 1 test for me.. Do a switch through an external tool .. TortoiseGit is what I like :) and make sure it does not freeze for you.. You are correct about the code .. you found the right line.. Give me 15 minutes .. I was to see if I can you a C.I. build to test..

[2016-01-26 16:33] jzoss commented on #29
Good.. Glad it built.. Took me a while to get the build to work right after I forked it..

[2016-01-26 17:01] jbestrom commented on #29
When I double click on a file in the Pending Changes window I'm getting a "Value does not fall within the expected range" error.

![image](https://cloud.githubusercontent.com/assets/16417291/12587829/185278d6-c413-11e5-817e-955aa26a93cb.png)

The error is thrown from PendingChangesView.xaml.cs->GetSelectedFileFullName (384).

However in OpenFile I think it is because the item.FileNames[0] is null?

[2016-01-26 17:04] jbestrom commented on #29
I'm diving head in now. I have a few minutes I'll see if I can work something out :)

[2016-01-26 17:35] jbestrom commented on #29
Got it don't know how to fix it.

Seems to stem around if the solution is active.

How I reproduce it.
1.) Have changes in the repo
2.) Open VS solution file (I use from command line with sln file for less clicks)
3.) Once loaded double click on one of the files with changes in the pending changes window
4.) Get the error

Once you select in the Solution Explorer either the solution or a project t

[2016-01-26 17:45] 0x084E commented on #17
Switching the branch with TortoiseGit (which is my favorite, too ;)) is working well (even with TortoiseGit Toolbar extension inside VS).
Also the switch dialog is working if  the 'solution has been modified outside of VS' dialog is not popping up between `await repository.CheckoutAsync((GitBranchInfo) comboBranches.SelectedItem)` and `window.DialogResult = true`

[2016-01-26 18:49] 0x084E commented on #17
@jzoss I think I know what is going on, it is a problem with the WPF Window.ShowDialog method,
According to the <a href="http://referencesource.microsoft.com/#PresentationFramework/src/Framework/System/Windows/Window.cs,cebef344eecbe702,references" target="_blank">Source</a> this method remembers the active window and restores it aufter closing. Now the following happens:

1. Show switch dialog, s

[2016-01-26 19:04] jzoss commented on #17
@0x084E Once again you are correct.. First ... Sweet that the other switch works..TGIT rocks... i just use the git command through the right click in the solution explorer .. Anyway .. there is a new C.I. build.. I put in most of the branch fix .. .I think.. I took the switch off the popup .. put it on a background thread.. I am checking it in right now .. hold on..

[2016-01-26 19:12] jzoss commented on #17
@0x084E Here is the C.I. build .. can you still break it? https://ci.appveyor.com/project/jzoss/git-source-control-provider/build/artifacts

[2016-01-26 19:42] 0x084E commented on #17
No way, I really tried, but it works :) :+1:
I've also tried creating a new branch with this dialog which also works very well. A little thing I've noticed while trying this is that the branch dropdown list is not refreshed and doesn't contain the created branch when reopening it.

No not really, it lacks multi repository support and the 'open bash' command only works with msysgit not the new git-

[2016-01-26 20:00] jzoss commented on #17
@0x084E  Cool.. and just to be difficult.. New C.I. build.. Branch name fixed changing when you switch should be fixed.. and I just fixed the updated branch list thing. Man.. I'm fast today.. or avoiding my  real work :+1:

[2016-01-26 20:04] jzoss commented on #29
OK.. I will check it out.. Check out the latest C.I build.. put in the filter files into the pending changes.

[2016-01-26 20:06] jbestrom commented on #29
I have been debugging and trying to figure it out. Seems to be around the "ActiveSolutionProjects" for some reason a top level folder that call doesn't like.

[2016-01-26 21:36] jzoss commented on #29
check out the latest C.I. I think it's fixed.

[2016-01-26 21:50] jbestrom commented on #29
Perfect the file opening is working great now I like that you basically just said always open instead of trying to find it.

The filtering you added earlier doesn't seem to be working correctly however.

I'll do some more testing on that and see if I can help with a solution.

[2016-01-26 22:05] jzoss commented on #17
@teebee76 .. You just had to tell me about the version thing.. didn't you :)
![version](https://cloud.githubusercontent.com/assets/3586254/12596680/a7d35808-c446-11e5-81de-566ec4d821c8.PNG)

[2016-01-26 22:08] jzoss commented on #29
Oh I totally should have tested that a bit more :)

[2016-01-26 22:15] jbestrom commented on #29
Some more info on the file opening issue for knowledge and may help in other places.

The call for ActiveSolutionProjects was causing the issue and I noticed that in the project there was the SolutionExtensions that has some solution/project stuff.

So locally I changed from ActiveSolutionProjects to SolutionExtensions.Projects() and it grabs all of the projects in the solution. I then was still h

[2016-01-26 22:18] jzoss commented on #29
@jbestrom I like it. I just went sorta cheap :)  But ... you way.. may be better.. I'm not sure

Also check the latest build.. For the filtering .. https://github.com/jzoss/Git-Source-Control-Provider/commit/a1d51ee32699d8c06d69ef0d8d6c19acee92d07e

[2016-01-26 23:49] jbestrom commented on #29
Still not working correctly. I have a pretty large solution and it seems like not all the files are getting put in SccProviderSolutionCache->_fileProjectLookup.

I set a break point and looked at everything in that _fileProjectLookup and it looks like mostly directories the few files I did find in there I modified and your filter worked as intended.

So it seems as though it just isn't grabbing al

[2016-01-27 05:19] jzoss commented on #29
I can't get it to break.. which does not mean anything.. just i haven't figured out the right way to break it.. I'm going to put out RC 2 ... let people hack at it a while.. but I am going to get this fixed before the release...

[2016-01-27 05:27] jzoss commented on #17
Hi all... I did not expect to do a RC 2 release so quickly, but I had a lot of help today. .. so here you go.. https://goo.gl/7OSuf7

So.. now keep hacking at it.. @PureKrome Make sure it runs as well as before... @teebee76 and @0x084E  you seem like you have a talent at finding branching issues.. Anyway thanks for your help.. All I plan to do not is update the docs ... fix any bugs.. I was hoping

[2016-01-27 06:38] teebee76 commented on #17
Wow a lot of activity last night :+1:

@jzoss  ( ) or not doesn't really matter, as long as it is consistent. The way it is now SE always has it and PC has it sometimes..  Personally I think it looks better encapsulated in parentheses since it is not part of the original title, but indicating a state that might change.

...and @jzoss when it comes to the version number, you can always count on me

[2016-01-27 17:59] jzoss commented on #17
Warning brain dump coming. Sorry to everyone it's long :) except @PureKrome I hope is detailed enough.

## tldr version –
Threading is hard! It’s even harder when you are calling COM components .. You need to be careful and follow the rules

## Long Version

## Background
So, I noticed in 1.4.2 in some cases it could freeze Visual Studio. This was unacceptable to me, but I had no idea where the fi

[2016-01-27 21:32] jzoss commented on #29
@jbestrom

Ok.. I didn't think it would take as long as i did.. but I think I did it.. Try the nightly build or pull down the latest code and tell me what you think.

[2016-01-27 21:40] jbestrom commented on #29
Perfect initial tests seems like it is working! Great job. If I find anything else I'll do my best to pass along where I think it is happening.

[2016-01-27 21:45] #29 closed

[2016-01-27 22:25] PureKrome commented on #17
Awesome post @jzoss :smile: :clap: :clap:

The most useful piece of that post was your learning experience _and_ the steps you took to help resolve the problem. For me, this is gold. So thank you :)

First rule of `async/await`: `public async Task (or Task<Foo>) FooAsync(..)`... never return `void`. (well 99.999999999999% of the time).

And finally ... [this is all of our first attempt at async pr

[2016-01-28 07:13] teebee76 commented on #17
Excellent and educational post @jzoss! I read it last night on my mobile phone, even though it is quite long I think I will read it again today on my computer.
Very insightful, and surely will help me understand the though behind the complete process of the plugin, if I should ever get the source and do some experimenting myself :) Haven't done much async and await myself, but I heard it is a less

[2016-01-28 13:28] 0x084E commented on #17
Interesting post, thanks for sharing! Also an interesting usage of async/await for switching threads, I'm already thinking where I can build / use somthing similar in my programs :smile:

Btw.: RC2 is running fine on my machine, no issues found so far :+1:

[2016-01-28 15:39] jzoss commented on #17
@PureKrome , @teebee76 @0x084E - Thanks guys.. Good to know I'm not just talking to myself :) I guess I could have gone into even more detail! Anyway.. I may clean up a few more little things.. mostly making sure thing that might throw an exception are handled.. remove a few bits of dead code blocks.. Update readme ..May have 1 final RC... What do you guy think.. is it ready to be released.. My bi

[2016-01-28 15:54] teebee76 commented on #17
I noticed something earlier today, but didn't manage to reproduce it, so I didn't post it earlier... but I will mention it now anyway in case others see it too. (and because you just reminded me of it now)

I was working on my other solution today, the on that doesn't have the entire solution under the same repository. and have some projects under individual repositories, and some that are not sou

[2016-01-29 03:32] jzoss commented on #17
@teebee76 .. OK there you go again :) Finding bugs.. OK check out the latest C.I. build. I was going to make it a RC build.. But then I forgot.. Anyway guys if you'd could try it out. So @PureKrome , @teebee76 , @0x084E .. Opinion.. The latest ci build.. Release or let people test it for a while longer?

[2016-01-29 03:55] PureKrome commented on #17
I've been using the latest from a day or so ago .. since a day. gimme a week of slamming it. so IMO: wait.

[2016-01-29 16:00] jzoss commented on #17
@PureKrome  You are wise like
![yoda2](https://cloud.githubusercontent.com/assets/3586254/12680370/15546f1e-c66f-11e5-88a9-5df21d9734a1.jpg)

OK people .. take the latest C.I. build and hack away :)

[2016-02-01 14:54] jbestrom commented on #17
I haven't been using it a ton because of VS/Resharper issues but from what I have used it I think things are good, then again I don't do a lot of branch switching so I can't say on that but all the pending window changes are great.

[2016-02-01 15:28] jzoss commented on #17
@jbestrom .. Is this Resharper issues with the plugin? or Unrelated?

[2016-02-01 15:44] jbestrom commented on #17
Unrelated to the plugin. Resharper is trying to index generated files when it isn't supposed to so it makes VS grind to a halt. With resharper off this plugin still works as expected.

[2016-02-02 15:41] jzoss commented on #17
@jbestrom I noticed it did a lot of strange things when I was debugging. Make sure you turn off solution wide analysis .. But yea.. Resharper is greedy with threads :)

[2016-02-02 17:00] jzoss commented on #17
Hey all.. Just a FYI.. I made a new RC build it the release tab. It's the same as the latest C.I. from 4 days ago, but a little easier to find.. Maybe get a few more testers out there.. Anyway, once I release, I 'm just going to update the version on this build and push.. it should auto-update for everyone. Anyway as long as no one else find more bugs ( @teebee76 !!!  ) and @PureKrome says it's co

[2016-02-02 17:09] jzoss commented on #13
@wilhen01 @NightOwl888 @ddobrev @yysun -- Hi guys not sure if any of you have been paying attention to the #17 thread.. or if you still use the plugin.. Anyway, the final (hopefully) RC is posted in the release tab.. It is not cleaned up enough to merge it with the other project yet, but this is the first big step to that. Anyway the more tester the better.. if you are feeling like an adventure.

[2016-02-02 22:44] PureKrome commented on #17
I've been using it pretty much since the latest drop was put up (as mentioned above).

So far - seems to be working for me :+1:

I also switch branches _a lot_ (mostly from the Explorer, not inside VS) and things are working fine :smile:

So far so good @jzoss !

[2016-02-03 13:37] yysun commented on #13
@jzoss thanks a lot! I will have 3-4 people to test the RC.
In terms of the code, do you want me grant you contributor so that you can
merge to the main stream?

On Tue, Feb 2, 2016 at 12:09 PM, jzoss <notifications@github.com> wrote:

[2016-02-04 15:59] jzoss commented on #17
@PureKrome Cool.. That's how I generally use it as well.. I commit sync from the solution explorer ... anything else I do I use TGIT..

I may actually have to release this.. The one thing that is clear, IMHO, is that it is better and more stable than 1.4.2

[2016-02-04 16:02] jbestrom commented on #17
If this was a companies product you would have been forced to ship it 2 weeks ago :)

[2016-02-04 16:58] 0x084E commented on #17
... from people who don't know what software development actually is :)

I think it is ready for shipping. I haven't noticed any problems the last week and as @jzoss said it's definitely better than 1.4.2

[2016-02-04 22:14] PureKrome commented on #17
:shipit:

[2016-02-04 22:21] jzoss commented on #17
@PureKrome @teebee76 @0x084E @jbestrom

It is done.. 1.5 is in the release tab.. also uploaded to he gallery .. It should auto-update, or download it manually.  Thanks everyone .. I could not have done it without you help!! If anyone wants to help a little more.. you could tell your friends...or mention he plugin on twitter or something, I would greatly appreciate it.

[2016-02-04 22:39] PureKrome commented on #17
Good work @jzoss and friends :+1: :cake: :balloon:

From here, i'm interested in seeing if this will be merged up to upstream ... but that's a discussion in the other issue....

[2016-02-04 22:46] jzoss commented on #17
@PureKrome Do you mean #13 ? I'm not 100% sure.. I go back and forth on that a bit. I am not sure what the best path forward is :) But as you said.. it's another issue.

[2016-02-05 09:20] teebee76 commented on #17
@jzoss great work, I really appreciate the time and effort you've invested in this project.
First of all because it made me able to use my favourite extension after upgrading to vs2105, and ofcourse the additional bonus of making it superfast, and now also bug free (fingers crossed).

When it comes to the bugs, I haven't noticed anything, but then again I've not been able to test much either the l

[2016-02-05 18:30] jzoss opened #30 "vNext (1.6) Release Discussion"
Thread to talk about the next release and nightly builds..

So talk about what you might want to see in the next release, status of nightly builds, bug you may have found the a early release.

1. Develop new ideas here, sure you can make a new issue and label it an enhancement  but feel free to brainstorm here.

2. Ideas on how to make the code better.. Check out the code.. look around find a bett

[2016-02-05 18:37] jzoss commented on #17
@teebee76 Yes new features! That is more fun than merging.. anyway While I may take a few days off from this open source project :) I don't want to leave it how it is now. We do need to figure out the merging thing at some point.. but we can talk about that else where.. So.. though it makes me sad sorta nostalgic way... It is time to close this thread. 1.5 is out, and once again.. thanks everyone

[2016-02-05 18:37] #17 closed

[2016-02-05 18:57] #18 closed

[2016-02-05 18:57] #28 closed

[2016-02-05 19:43] jzoss commented on #13
So.. Release 1.5 is out ..  I figured we could talk about merging.. so brief history.. Back when VS 2015 RC came out, I jumped on and looked for my favorite git scc provider and it was not there.. The original author released git tools, and I tried and it was ok, but it was missing the solution explorer integration. So I asked the original author ( @yysun  ) if he was planning on putting that in a

[2016-02-05 19:45] jzoss commented on #30
For more info on point 3  https://github.com/jzoss/Git-Source-Control-Provider/issues/13#issuecomment-180520688

[2016-02-05 21:02] jbestrom commented on #30
@jzoss I would say just from my OCD point of view is to remove all unneeded comment blocks. I noticed quite a few and if it is all dead code now would be the time to remove it.

Also a couple places where there are some stopwatch stuff (I assume it was to track how long things took)

[2016-02-05 21:09] jbestrom commented on #30
@jzoss As for porting to VS2013 what kind of work would that entail?

I think it could help others if they are stuck there in VS2013 and use git.

[2016-02-05 21:36] jzoss commented on #30
@jbestrom Totally agree about the dead code.. I wanted to clean it up before the release, just wanted to get the thing released.. Anyone know of tools that search for dead code?

As for vs2013 ..  Might be as simple as a config update.. Not sure

[2016-02-05 22:43] ddobrev commented on #13
@jzoss I am afraid I can only give an opinion on the general issue because I am not familiar enough with the area. It always seems like too much work to merge two projects, and it always looks much easier to make decisions alone rather than agreeing on them with other people (I mean @yysun - as the author of the other project). However, in the long term the manpower behind the project is more than

[2016-02-06 03:20] yysun commented on #13
Thanks @jzoss. Further decompose the two projects, there are several modules:

1. GitApi - interface to Git commands
2. Pending Changes Window - VS Tool Window => reference to 1
3. File/project/solution change detection inside VS
4. SCP glyphs and Solution Explorer Integration
5. GitGui (WPF) - the History viewer => reference to 1
6. GitSCC (vsix) = 1 + 2 + 3 + 4
7. GitTools (vsix) = 1 + 2 + 3

Re

[2016-02-06 04:04] yysun commented on #13
One more thing. Just like @NightOwl888 said, forks create confusing and difficulties. I am open to make anyone who wants to contribute be collaborators to the original github projects. @jzoss, I have added you. Now you can merge this fork into the original project. Going forward push changes w/o pull requests and no syncing to upstream.

@jzoss, you can continue publish vsix to VS extension galler

[2016-02-07 09:58] NightOwl888 commented on #13
Given that merging the projects together will enable other developers to contribute their efforts to a singular place (even if those efforts are just reporting bugs), it will make the whole project run smoother. So, my vote is to spend those 10 hours a week merging the projects first as that will lead to a better experience down the line and a better piece of software with fewer bugs.

Adding new

[2016-02-07 13:05] PureKrome commented on #13
My opinions from the posts above,

- Merge the projects so there's one VS Gallery download.
- Splitting projects up into separate Repos: Maybe. I can see the 2x class libraries being in one repo, the rest in another.
- Don't submodule. urgh. NuGet all the things.
- Don't really care/need new features. Main thing here is to see change files (and the diff in window) and the commit. The rest, just us

[2016-02-08 16:19] jzoss commented on #13
Man.. I leave for a few days and people comment.. So.. Where to start..

@yysun Threading is a giant PITA. So, we should talk.. I redid all the threading in 1.5.. it took a while but is now unbroken. So.. basically it is uses an asynchronous event model and the new threading model in VS to do all it's work. It took a while and you need to be careful to do it everywhere.. Perhaps we can chat elsewh

[2016-02-08 20:32] yysun commented on #13
@jzoss Is it possible to make the Pending Changes Tool Window visible working all the time even the GitScc is not selected as Source Control Provider under Tools | Options | Source Control?

If yes, all troubles go away.

[2016-02-08 21:43] jzoss commented on #13
@yysun Yea probably.. I need just need to separate the sccprovider service with the solution service ... Should not take me that long.. once I get a bit of time.

[2016-02-09 18:48] jzoss commented on #30
So.. @jbestrom,  @PureKrome, @teebee76, @0x084E - Wondering how 1.5 is going.. and if you have had any issues.. I have 2 from the VSgallery - "Double-click on a file in Pending Changes instead of opening the file I get an error dialog that says "The method or operation is not implemented" and someoen who can't save files anymore.. Just wondering how it's all going.. This thread is so quiet.. peopl

[2016-02-09 20:15] jbestrom commented on #30
I for one personally hate it! /sarcasmoff      For real though great job!

I haven't been in VS2k15 much the past week due to those resharper issues I mentioned before.

The double-click in the pending changes I haven't noticed an issue when I am in VS2k15. I do remember you fixed an issue I reported where if you didn't have an actual solution selected it would toss an error https://github.com/jzo

[2016-02-10 08:24] teebee76 commented on #30
Not noticed anything unusual until now :D (since you mentioned the double click bug, I just had to go in an check for myself.

No problem for me with when double-clicking the file under changed files. The file opens (or focuses) as it should. Taking me either to the first line, if it opens, or to the last visited line if it focuses. So just perfect.

However I tried double-clicking a changed block

[2016-02-10 08:54] teebee76 opened #31 "New Feature: Support for git flow/ git flow action buttons"
Besides the gscp plugin I have been using sourcetree as a tool for managing my git repositories. In Sourcetree they've implemented a button for git flow actions. What it actually does, is a series of common git -operations put in sequence, and it save either a lot of typing in git bash, or a lot of clicking inside pending changes.

In short it is a system to easily manage the use of a branching mo

[2016-02-10 09:03] teebee76 opened #32 "New Feature: Cool tab for git console"
When I tried git tools, there was one thing in particular I liked really much, and that was the cool tab on the pending changes window, that display git console. No need for the extra git bash window clottering up my desktop.
It would be truly awesome if that could be available here in gscp too :)

![image](https://cloud.githubusercontent.com/assets/5390116/12942716/5ba968e4-cfdd-11e5-83e8-210bbee

[2016-02-10 15:56] jzoss commented on #30
@jbestrom did you find where you can config that value for 2013? I can help if you need. I don't want ot add it officially just yet, need to figure out #13 first.

[2016-02-10 17:12] jbestrom commented on #30
@jzoss  I did get it installed but got the error below

![image](https://cloud.githubusercontent.com/assets/16417291/12954938/f53ab6b6-cfdd-11e5-910c-1f2876e7ad53.png)

Here is the only stuff I changed to get it installed in source.extension.vsixmanifest.

`<Installation>`
`-    <InstallationTarget Version="[14.0,15.0)" Id="Microsoft.VisualStudio.Pro" />`
`-    <InstallationTarget Version="[14.0,1

[2016-02-10 18:26] jzoss commented on #30
@jbestrom Ok .. took a quick look at lunch.. I think it might be a wee bit more complicated than I thought .. I really went all VS 2015 with this.. So.. I would take a guess.. But.. I used nuget to get all the visual studio extension dll.. Try swapping out Shell.14.0 for Shell.12 in the GitSccProject .. I can try to take a closer look later as well.

[2016-02-10 21:34] jbestrom commented on #30
@jzoss Your zip file seems to be working.

Could you add a patch file here or just tell me what to change so when I pull down the code and build locally I can reapply them for VS2k13.

[2016-02-11 15:34] teebee76 opened #33 "Reoccuring Exception on History?"
I remember this exception was reported earlier, and not sure what the solution was, or if it was an external problem or not...

While trying out the other extension for gitflow in VS it invoked an install of Git to a preview version.

At first I thought maybe it was related to this, so I uninstalled the preview-version of Git, and installed the latest stable 2.7.1 (64bit)

But still got the except

[2016-02-11 15:43] teebee76 opened #34 "Settings "window" not closing after saving when OK is pressed"
If I open the settings for Pending Changes, and make changes and then click OK.
It seems to saves the changes and then nothing more.

However if I click Cancel, the window closes and it returns to displaying the files and pending changes.

[2016-02-11 15:58] jbestrom opened #35 "Ability to hide diff window in Pending Changes"
Add option to show/hide the diffs in the pending changes window.

It would be nice to be able not run the diff each time you select a file in the pending window changes. Especially if you use it like I do to quickly open files that have changes (I don't care about he changes at that point).

Suggestion: Either have a perm option in the setup or a show/hide button/checkbox.

[2016-02-11 15:59] teebee76 commented on #31
After a little searching I found this extension **[GitFlow for Visual Studio 2015]([https://visualstudiogallery.msdn.microsoft.com/f5ae0a1d-005f-4a09-a19c-3f46ff30400a])**
It seems to work along side gscp although I have to open the TeamExplorer window to use it.
I don't know if it could be used as a plugin to gscp to get a context menu like for git Extensions?
I will test it for a little while, a

[2016-02-11 16:06] jzoss commented on #31
@teebee76 Yeah I saw that,, Thought it would not be a nice integration just to say have them side by side.. But I have a sub-project I may start.. I think you may be the person to help me.. So I think if we were to make this part of this.. the first thing to do would be to start project to basically wrap git flow around libgit2sharp.. There are not that many commands.. But that would give us a nat

[2016-02-11 16:08] jzoss commented on #35
@jbestrom I could see that.. Does it slow down when you click on the file? Maybe just make it so it may do the diff but not slow down? I just noticed that that interaction has not been updated to the new threading yet.. So I think I can make it faster.

[2016-02-11 16:13] jzoss commented on #30
I started by doing what you did, then I Removed the nuget for Microsoft.VisualStudio.Shell.14.0 and installed VSSDK.Shell.12 .. I will look into if there are disadvantages just keeping it at the lower version...

[2016-02-11 16:26] jbestrom commented on #35
Perfect no rush just something I can see being useful.

Adding the threading stuff you did everywhere else will be a big improvement.

[2016-02-11 16:35] jbestrom commented on #30
@jzoss don't waste too much time I just upgraded to ReSharper 10.1.EAP.1 and it seems to be working a little better so I may be able to fully make the jump to VS2K15.

[2016-02-11 17:51] jzoss commented on #33
@teebee76 .. I think I fixed it in the latest C.I. build.. take a look let me know

[2016-02-11 22:22] teebee76 commented on #33
Yup, it works perfectly now :) case closed.

[2016-02-11 22:22] #33 closed

[2016-02-11 22:28] teebee76 commented on #31
Sounds like a good idea, I will do what I can, hopefully I can structure my time better to get more time to do fun stuff like this.
Never done any extension-stuff in VS before though, so I might need some pointers in the beginning to get things setup correctly. But I will investigate a little tomorrow if I get the tiime :)

[2016-02-12 16:19] jzoss commented on #31
First thing to do is not do the work in the vs extension :) First.. I started a new [project](https://github.com/jzoss/libgitflow2sharp).. Which I have not done anything to yet.. I can make a contributor if you want  .. Anyway I want to do extension methods I think for libgit2sharp to to all the gitflow commands... or so I'm thinking right now.

[2016-02-15 08:44] teebee76 opened #36 "Is Amend Last Commit really an Amend ?"
I just did a commit of a filename-change in my project, and like a usually do, I forgot to include the project-file.

So I did an Amend Last Commit with the project-file.  I then took a look at the History, and It looks like 2 seperate commits..

To be honest I've actually never looked at the history after doing an amend before, but shouldn't it display as only one commit including all the 3 chang

[2016-02-15 12:25] teebee76 commented on #31
![image](https://cloud.githubusercontent.com/assets/5390116/13048652/9628218c-d3e7-11e5-91fc-ae62075bdcf0.png)
;)

[2016-02-16 09:05] teebee76 opened #37 "Glyph updating still not perfect :("
I was doing a little coding in two different instances of VS, not sure if that was part of the problem or not, but then I noticed that even though I had done changes to a lot of files, they were all still being marked as unchanged i Solution Explorer..

Tried refreshing, opening and closing files, doing more changes and saving ... but SE was stubborn as a mule..

doing a vs restart fixed it as usu

[2016-02-17 16:04] jbestrom commented on #30
@jzoss Haven't figured out when/why it is happening but the "Show only files in solution" in the pending changes window isn't working 100% of the time.

I'll do my best to figure out when/why it is happening but I just wanted to give you a heads up.

[2016-02-17 17:29] #34 closed

[2016-02-17 17:29] jzoss commented on #34
Fixed in Ci

[2016-02-17 17:34] jzoss commented on #35
In the latest C.I. build I made it a bit faster... not done yet but you can give it a try.

[2016-02-17 17:58] #36 closed

[2016-02-18 17:02] jzoss commented on #30
@jbestrom Thanks.. Yea.. I would not be surprised if there was a bug somewhere.. I am going to do  1.5 R2 to fix a few little bugs here and there.. maybe early next week.. So if you have any idea, on have anyway I can recreate it .. that would be cool

[2016-02-18 22:06] PureKrome commented on #30
IMO
- Create a milestone called *1.5.1* (Follow SemVer please)
- Add issues _per_ bug/problem and tag then to that milestone.
- :money_with_wings:

[2016-02-19 16:43] jzoss commented on #30
@PureKrome  Are you sure I should just increment the major version all the time :) Like chrome or firefox :)

Anyway.. I was thinking of updating the C.I. version to get better build number.. Question.. @PureKrome would you be offended by the next on being 1.5 R2 ? I'm not sure if I like that yet.

[2016-02-20 08:42] PureKrome commented on #30
TL;DR;
- follow SemVer _always_
- next version should be **1.5.1**

---

(In a very polite and respectable voice) : Yes, I would be.

The now-and-future is SemVer IMO. It just makes things SOOO much easier.

Assumption: you know what SemVer .

What you are doing here is a bug fix to the current release. It's not a major breaking change in logic or api methods. It's not some new functionality or a

[2016-02-22 13:46] teebee76 commented on #37
Something new and unexpected happened today too. Something I've never noticed before...
(A picture tells a thousand words as they say, so here goes ...)
![image](https://cloud.githubusercontent.com/assets/5390116/13219812/ae1095a0-d972-11e5-9f80-665645c16ac5.png)

Never seen the blue checkmark before, what does it mean?

[2016-02-22 15:33] jzoss commented on #37
@teebee76  Oh yea.. that is the check mark for staged.. Usually see it after a merge ..

[2016-02-22 15:37] teebee76 commented on #37
Thought it might be something like that :)
btw:  found out that I didn't have the latest build. . I was still on 1.5.5  up to 1.5.7 now, and nothing fishy yet, I will let it run a while to see if it gets "out of sync" again

[2016-02-22 17:17] jzoss commented on #30
Yea right now the build server adds to the patch each build .. So since I've checked in a few times it is 1.5.7 so.. I would want to change that to either 1.5.0.x or make the next build 1.6 .. I guess I will figure that out :)

[2016-02-22 21:33] PureKrome commented on #30
I'm now going to go into a wee bit more advanced stuff/suggestion:

- create 2 branches: `master` and `dev`
- `master` builds and is a normal formal release. (bonus points: auto-publishes to VS marketplace thingy)
- `dev` has a _different_ version number: `1.6.0.<build-number>-dev`. Publish to a GH release.

what's important here is that we're still following SemVer and that having some text (in t

[2016-02-25 10:07] teebee76 opened #38 "Branchnames not cleared when closing project"
On the latest dev build of gscp (1.5.0.20) if I close the solution, not all status in pending changes are cleared.
While project is open:
![image](https://cloud.githubusercontent.com/assets/5390116/13316258/6cf60eb2-dbaf-11e5-8b9a-53cdbed5cf40.png)
When solution is closed:
![image](https://cloud.githubusercontent.com/assets/5390116/13316293/9b5a8d28-dbaf-11e5-85f8-9f72a2dbb34a.png)
After a refresh

[2016-02-25 10:11] teebee76 opened #39 "On latest develop (1.5.0.20) displayed changes have disappeared"
When a file in pending changes is selected, the diff of that file is no longer displayed
![image](https://cloud.githubusercontent.com/assets/5390116/13316469/7e53b5d2-dbb0-11e5-8f4a-6840d47767ef.png)

[2016-02-25 17:26] jzoss commented on #39
Opps!

[2016-02-25 17:26] #39 closed

[2016-02-25 17:26] #38 closed

[2016-03-01 21:38] jzoss commented on #30
@PureKrome Ok.. I've been a little busy.. at home at and work.. BUT I finally got versioning sorted.. The C.I. Build now goes to the release tab in git.. It even cleans itself up :) It was harder than it shoudl have been.

You can't deploy automatically and adding -dev to the version makes visual studio cranky ..

Anyway.. dev version goes .. 1.5.0.(1...2..3..4...) and the release version goes lik

[2016-03-02 03:46] PureKrome commented on #30
shame about VS getting cranky with `-dev` (or any postpended text) in the version :/

[2016-03-02 12:09] teebee76 commented on #30
Will download now and keep an eye out for glyph-irregularities :)

[2016-03-03 09:37] teebee76 opened #40 "Null Exception on History (1.5.0.50)"
If I try to open the GitUI History thingy, It crashes with an NullException

![image](https://cloud.githubusercontent.com/assets/5390116/13490239/c4df1912-e12b-11e5-93e5-64db636f173e.png)

[2016-03-03 15:53] jzoss commented on #30
@teebee76 Yea.. I have 2 builds on appveyor now.. here is the dev build https://ci.appveyor.com/project/jzoss/git-source-control-provider-bfftg/build/artifacts

[2016-03-03 18:52] teebee76 commented on #30
Yeah I know,  after I wrote it,  I figured I just was on the wrong branch when checking the readme...
Didn't think i actually posted that comment,  but obviously I did...

[2016-03-04 18:50] jzoss commented on #40
@teebee76 Still have this issue? I have yet to recreate.. Does it happen on all you repos?

[2016-03-04 20:23] jzoss commented on #40
Ok check out build 51.. I think I may have figured out the cause.

[2016-03-04 20:29] jzoss commented on #30
HI all .. work on 1.6 has been a little slow.. as I have been a bit busy..and I spent some time on the release automation. However.. if you look the release at the step 1 is just about complete.. Release 1.5.1. the latest C.I. build includes a bunch of bug fixes and the official upgrade to the new libgit2sharp. Please install and tell me what you think before I release.. Anyway.. after this back t

[2016-03-08 15:55] jzoss commented on #30
Hey sorry.. Just noticed there was a bug in my deployment..  Anyway please check out the latest 1.5 dev build in the release tab.  I plan on making it the official 1.5.1 release.

[2016-03-14 14:52] jzoss commented on #30
@teebee76 @PureKrome @teebee76 - Just wondering if any of you have tried version 1.5.0.52.. Seems solid to me.. I was going to promote it to 1.5.1 but I just wanted to see if others had been using it.

Starting to plan out 1.6 a bit.. I've been much more busy at work and at home some my time has gone down.. but I'm making some progress.

[2016-03-14 15:01] teebee76 commented on #30
It appears I'm still on 1.5.0.50, so I will get the latest and check it out. I noticed some strange behaviour earlier today, but I will see if I can recreate in the most up-to-date version before posting.

[2016-03-31 00:53] PureKrome opened #41 "VS2015 Update 2 -> comment and switch branch tabs are inactive?"
Hi.

just updated VS2015 to `Update 2`.

Opened up sln, changed a file .. and the `COMMIT`, `AMMEND LAST COMMIT`, `SWITCH BRANCH`, etc.. buttons/tabs are inactive.

the NAME of the branch did update (i switch branches to test this) .. and it does list the changed files, etc.

can't use this now.

![](http://i.giphy.com/FAX99ve3Egvok.gif)

[2016-03-31 00:58] jzoss commented on #41
Well that's no good.  I'm at the build conference this  week..  So I may
not be able to fix it till next week..  But I may be able to ask someone
why they broke it
On Mar 30, 2016 5:53 PM, "Pure Krome" <notifications@github.com> wrote:

[2016-03-31 01:16] PureKrome commented on #41
also, it's assuming it is broken (versus, just my machine is crapz0rd).

[2016-03-31 02:19] jzoss commented on #41
If you right click in the solution explorer can you commit that way?
On Mar 30, 2016 6:16 PM, "Pure Krome" <notifications@github.com> wrote:

[2016-03-31 02:36] PureKrome commented on #41
eventually, I can get the commit dialogue box to show up, that way.

[2016-03-31 18:45] #40 closed

[2016-03-31 18:45] jzoss commented on #40
Fixed in upcoming 1.5.1

[2016-04-01 15:53] jzoss commented on #41
Ok last night over the very slow hotel wifi...  I installed rc2 and had no
problems..  Do you have the latest release very or the Beta 1.5.1 version
installed?
On Mar 30, 2016 7:36 PM, "Pure Krome" <notifications@github.com> wrote:

[2016-04-04 00:08] PureKrome commented on #41
i just removed whatever version i had and re-installed the latest from the extensions vs store.

it says 1.5.0.0

![image](https://cloud.githubusercontent.com/assets/899878/14235848/3d1807e2-fa4d-11e5-8d21-edcbaf6583c7.png)

[2016-04-05 14:16] janellecom opened #42 "Double-click in changed files list produces error"
When I double-click in the changed file list, I think it used to open that file in VS. Now I get the following error message: "/" is not a valid switch for this command.

VS2015 Update 2

[2016-04-05 14:29] jzoss commented on #42
Can you try the latest C.I. build here.. https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI

See if your issue is fixed..? I will look into this issue a bit more.

[2016-04-05 14:49] jzoss commented on #41
Can you try the latest C.I build https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI
Tell me if it fixes you issue. .I'm looking into it right now.

[2016-04-05 16:36] janellecom commented on #42
Uninstalled old one, restarted VS2015, installed new one, restarted VS, but
still see the issue with v1.5.0.58

On Tue, Apr 5, 2016 at 10:29 AM, jzoss <notifications@github.com> wrote:

[2016-04-05 17:16] jzoss commented on #42
OK.. I will look in to it. .I can't recreate yet.. Anyway... 2 things you can do to help.. can you describe the path.. There might be a special case I can't see. Or you can check out the code.. and run the extension.. you would see the issue really there and can either fix it or tell me where it is.

[2016-04-05 17:37] jbestrom commented on #42
Just for some added info I just tested master and dev and couldn't reproduce this either.

I'm also on VS2k15 Update 2

I use the double click to open file all the time.

[2016-04-05 17:45] jzoss commented on #42
@jbestrom Thanks for testing that out. @janellecom and @jbestrom Could you test the latest new C.I.i build .. I just made a minor ( I hope) change to the way I open files.. Also if you still get an error it should give more details. Anyway.. the commit is in.. just waiting for the C.I build. same link as above.. no need to uninstall should just update.

Went from
'''
        private void OpenFile(

[2016-04-05 18:16] janellecom commented on #42
That last fix works!

Thanks for the great response! Love this add in

On Tue, Apr 5, 2016 at 1:45 PM, jzoss <notifications@github.com> wrote:

[2016-04-06 02:47] PureKrome commented on #41
That link is only _source code_. no exe binary.

[2016-04-06 02:59] jzoss commented on #41
Sorry..  Deployment went out just as github.com went down today..  Didn't notice it got a bit messed up.  Should be there now.

[2016-04-06 06:30] PureKrome commented on #41
still doesn't work.

[2016-04-06 16:14] jzoss commented on #41
I have a theory.. Might have a idea where the bug is.. can you check your settings and see if you have the git.exe path set?

[2016-04-06 16:32] #42 closed

[2016-04-06 23:44] PureKrome commented on #41
![image](https://cloud.githubusercontent.com/assets/899878/14336249/44035c64-fca5-11e5-81be-70be9d93203b.png)

[2016-04-06 23:49] PureKrome commented on #41
![](http://upboat.me/aig/Aaaaaaaaaaaand/we're-back!/)

[2016-04-06 23:49] #41 closed

[2016-04-06 23:50] PureKrome commented on #41
Latest code is working now.

[2016-04-07 13:49] #37 closed

[2016-04-13 16:55] PhilMurwin opened #45 "Changed files pane is not properly highlighting the selected item"
The Changed files pane is not highlighting the selected item for the Light or Dark themes in Visual Studio 2015.  It appears to do so correctly in the Blue theme.  I've included screenshots of all three themes below, I have the same file selected in all three but you can only tell in the Blue Themed one.

![changedfiles_bluetheme](https://cloud.githubusercontent.com/assets/606839/14501870/20f5575e

[2016-04-15 03:22] ddobrev commented on #13
Apologies if this has already been mentioned but it seems the Microsoft Git Provider has serious problems with performance: http://stackoverflow.com/a/32576012, http://stackoverflow.com/a/32581271. If this is true, then the merged project would be better off using its own provider unlike @yysun 's code.
Having said that, I've been having VS consume 50 and more percent CPU quite often lately. Has p

[2016-04-15 03:23] ddobrev commented on #30
Please consider https://github.com/jzoss/Git-Source-Control-Provider/issues/13#issuecomment-210268850 as my consideration about 1.6.

[2016-04-15 05:29] jzoss commented on #13
@ddobrev GIT scc has not moved to Ms git.  I have noticed increased memory usage in Visual Studio,  but I don't think its related to git scc.  I haven't noticed any increased memory in the profiler,  but I can take a closer look.

[2016-04-15 13:53] jbestrom commented on #13
I don't think the increased memory/cpu is from this.

Issues like https://connect.microsoft.com/VisualStudio/feedback/details/2544045/low-memory-detected-full-solution-analysis-disabled-for-this-solution-on-roslyn-code-analyzer-enabled-projects if you are on update 2 are causing all kinds of headaches for me at least.

[2016-04-15 13:56] ddobrev commented on #13
Thank you very much for this information, I am definitely going to track the fixing of this VS bug.

[2016-04-15 13:58] jbestrom commented on #13
NP it is a pain in the butt when things like that show up. We are unable to move to VS2015 for production stuff cause of constant lock ups and slow downs.

[2016-04-16 15:46] ddobrev opened #46 "50 % CPU for at least 15 seconds after a single file change in a large solution"
https://github.com/mono/CppSharp is a fairly large solution with 51 projects. When I make a single change and save the file, my CPU usage jumps to 50 % for at least 15 seconds. It may not seem as much but during regular work changes are saved much faster and I have seen the difference stack. For comparison, using no source control, or MS's git provider (now called just "Git" on my machine, perhaps

[2016-04-18 15:16] jzoss commented on #46
OK.. I could be a lot of things.. I will look into it..well because I want to make it awesome.. @ddobrev can you tell me the right way to generate the solution? I guess if you want I could fork it and give you access to it to make the solution .. Or You could fork or branch.. Anyway.. I have an idea on where it might be.. Maybe..

[2016-04-18 15:26] ddobrev commented on #46
@jzoss thank you for checking it out. So, the instructions are at https://github.com/mono/CppSharp/blob/master/docs/GettingStarted.md . As it's pointed out, you don't need to use premake on Windows, there are bats instead. Both are located in <root>/build. Just double-click them, first DownloadDeps.bat and then GenerateProjects.bat, and your solution will appear in build/vs<your_selected_version>.

[2016-04-18 21:05] jzoss commented on #46
@ddobrev So I'm working on the issue.. I think I know where it is.. and of course it's in a part of code i really hate. I added it to try and speed up the thing actually. Anyway.. I am sure they is a better way of doing what I am doing. .I just need to think about it.. maybe I'll ask peoples opinion .. However.. I mad a small change .. not fixed yet by any means, but please checkout the latest C.I

[2016-04-18 21:09] ddobrev commented on #46
Thank you very much for your fast action. I am glad you know where the problem is, finding it is usually the hard part. It's a little late here and I'm going to bed but I'll definitely try the latest build tomorrow.

[2016-04-18 21:14] ddobrev commented on #46
By the way, if you could explain the larger problem here and point me to the relevant code, I might be able to think of some reasonable suggestion tomorrow.

[2016-04-19 10:04] ddobrev commented on #46
@jzoss I have just made about 7 attempts and I am afraid I cannot see any difference. Please implement that complete fix you have in mind and I'll be happy to test again.

[2016-04-19 15:19] jzoss commented on #46
@ddobrev Ok.. tracking it down.. I will write up the whole issue when I get a chance. Please once again install the latest C.I. build. I found a issue using your repo that was causing much unneeded cpu cycles.. I still think the underlining problem is there, and it may or may not be an issue.. that is I have loop though all the changed files every time a file gets updated.. Ok without going too fa

[2016-04-19 15:57] ddobrev commented on #46
I am afraid there's no change, not significant anyway. Let me tell you some more details about my set-up, they might help you.
I have three more repositories checked out under my root dir. They are not submodules or subtrees or in any other way related to the main repository. The first one is https://github.com/llvm-mirror/llvm.git in &lt;root&gt;/deps/llvm, then https://github.com/llvm-mirror/cla

[2016-04-19 16:03] jbestrom commented on #46
@ddobrev Do you have VS2013 installed?

@jzoss If he does perhaps you could provide a 2013 version of the current code and @ddobrev  can test it there?

I say this because I still have an older version you created for VS2013 that I use often and it works great, but when I try to use on VS2015 I see all kinds of issues. I think the issues are more related to VS than this. So perhaps a test of VS201

[2016-04-19 16:10] ddobrev commented on #46
@ddobrev I am afraid I don't, and I won't because I don't need it at all and it's too large to leave it just lying around. However, I've never had issues with @yysun's old add-in for VS 2013 (https://gitscc.codeplex.com/releases/view/46589) so you might as well use that.

[2016-04-19 16:18] jzoss commented on #46
@ddobrev I'll keep digging.. just added those repos as not submodules and still it's pretty speedy. Of course I am running a i7, with 16 gigs of memory and a SSD. ... I wonder if you could do me a favor ..

can you start visual studio like C:\Users\z001h82>"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\devenv.exe" /rootsuffix Test

Install the plugin and try again.. I wondering i

[2016-04-19 16:25] ddobrev commented on #46
Should I install the dev version and then start it with this command or the other way around?

[2016-04-19 16:37] jzoss commented on #46
Oh. Yea. Didn't think about that. :) Open the new visual studio .. Add this feed to Visual Studio's extension manager from Tools -> Options -> Environment -> Extensions and Updates: http://vsixgallery.com/feed/extension/GitSccProvider.Microsoft.88d658b3-e361-4e7f-8f4d-9e78f6e4515a

That will let you install the latest C.I. build

[2016-04-19 16:48] ddobrev commented on #46
I had actually got it from https://ci.appveyor.com/project/jzoss/git-source-control-provider-bfftg/build/artifacts, is it not the same?

[2016-04-19 16:53] jzoss commented on #46
Yea.. it is the same

[2016-04-19 17:16] ddobrev commented on #46
@jzoss I did as you said. I ran "C:\Users\z001h82>"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\devenv.exe" /rootsuffix Test" and then installed Git SCC from http://vsixgallery.com/feed/extension/GitSccProvider.Microsoft.88d658b3-e361-4e7f-8f4d-9e78f6e4515a. This time the CPU got up to no more than 20 % for no more than 3 seconds. So the reason is in the interaction with some of

[2016-04-19 17:21] jzoss commented on #46
@ddobrev Actually I do have a few.. I don't think the cpu should spike that much.. Even 20%.. but.. What could be going on is it just take the cpu because it available. However.. still I think I can rethink a few things and make it better. I am firing a few events too often.. Give me 15 minutes I may have another test build for you.

[2016-04-19 18:15] ddobrev commented on #46
@jzoss it's Refactoring Essentials, on its own. Now that you have sped Git SCC up - which I did notice after all with a greater amount of testing - it's as slow with it as without it (or without any SCC provider, for that matter). So when you have implemented all ideas about performance you have in mind, please consider this issue closed. I'll take it with them. Of course, let me know if you want

[2016-04-19 18:22] jzoss commented on #46
@ddobrev ok.. took me a bit longer.. Just pushed a few more changes.. went through my update cycle and eliminated most/all of my string ToLower and == .. I noticed it seeming zippier and cpu on my pc went down.. I did break one minor thing.. If you revert first thing before you make other changes the solution explorer does not update till you make a change.. but I can fix that .. just wanted to se

[2016-04-19 18:26] ddobrev commented on #46
Excellent, I'll try this build if you upload it. About that issue, no worries, I'll switch back to the stable version after the test and I'll update once you release the fixes.

[2016-04-19 18:28] jzoss commented on #46
So on a side note.. Performance wise.. The profiler I used results went from
![screenshot_2](https://cloud.githubusercontent.com/assets/3586254/14650740/935c7a16-0632-11e6-89da-42da49115806.png)

to

![screenshot_1](https://cloud.githubusercontent.com/assets/3586254/14650749/985c9a0a-0632-11e6-8874-92696d8e378c.png)

So that looks much better to me!

[2016-04-19 18:30] ddobrev commented on #46
Wow, impressive indeed! I am really happy this issue has been literally erased. :)

[2016-04-19 18:34] jzoss commented on #46
@ddobrev Looks like I forgot to add a file. Once the C.I. builds is done.. It automatically deploys the build to the release tab and  vsixgallery.com  Should be there in a few minutes

[2016-04-19 18:37] ddobrev commented on #46
Release tab? Do you mean you're deploying a stable version now? If so, it's going to have that small regression you described fixed, correct?

[2016-04-19 18:43] jzoss commented on #46
No.. the release tab gets a per-release ci build . Just the one you get from appveyor. It's auto updated on every C.I. build.

[2016-04-19 19:00] ddobrev commented on #46
I installed the pre-release, definitely works faster and I haven't seen any trouble. I think I'll keep it until the stable version is released.
Thank you for your work.

[2016-04-19 19:30] ddobrev commented on #46
I've just noticed a problem: when I include in a project a file which I haven't yet added to source control, it's displayed as if it already is (a blue lock).

[2016-04-19 19:38] ddobrev commented on #46
I reverted to the stable version and the files are once again correctly displayed with a plus.

[2016-04-19 21:36] NightOwl888 opened #47 "Double-click on Diff window doesn't open code window"
In the Visual Studio 2012 (original) version, you could double-click on the Diff window on any line and it would open the code window and put the cursor on that same line (and ensure it is within the viewport). It is a feature that I got really used to using. But in this new version, it no longer works.

I am reporting this as a bug, since it is more or less a (useful) feature that no longer works

[2016-04-20 00:13] jzoss commented on #46
Yeah I am not surprised..  I will have to fix that one.  I guess I made it
a little too efficient  :)
On Apr 19, 2016 2:38 PM, "Dimitar Dobrev" <notifications@github.com> wrote:

[2016-04-21 11:17] ddobrev commented on #46
@jzoss if there are no more optimisations to do or regressions, please close this one.

[2016-04-21 14:54] jzoss commented on #46
Yea.. Planning on it. Just finishing testing it :) I will probably have 1 more c.i. build for you to test.

[2016-04-21 14:56] jzoss commented on #47
@NightOwl888 I added this feature to the latest C.I. build. I am getting closer to a release, it is stable but the status bar controls don't work yet. Feel free to install and test it .. When the release come out, it will auto update ..

[2016-04-21 14:56] #47 closed

[2016-04-21 14:57] ddobrev commented on #46
Will do.

[2016-04-22 11:53] jzoss commented on #46
All right..  Check out the latest build..  I think if should be to you liking!

[2016-04-22 12:40] ddobrev commented on #46
It's a little slower, I guess it's the necessary trade-off for fixing the regression. In any case, much better than it was when I filed this.

[2016-04-25 18:12] jzoss commented on #46
@ddobrev Ok last build for this.. I promise.. I made a small change in the latest C.I. build.. check it out... I don't think it is very big.. but the big issues are gone, so it's a bit harder to track down them now :)

[2016-04-25 18:26] ddobrev commented on #46
It's fine. I can see the CPU usage rise, then drop for a second and then rise again for much longer. My tests have confirmed that the second rise is caused by other add-ins so you're good to go. :)

[2016-04-25 18:30] ddobrev commented on #46
It's also better than the previous build.

[2016-04-25 18:49] #46 closed

[2016-05-10 19:16] jzoss commented on #45
@PhilMurwin  - Hey I have been trying to recreate this, but I have just not been able to.. Any tips on setup?

[2016-05-10 19:35] jzoss commented on #30
@teebee76 @jbestrom @PureKrome @ddobrev  Hey everyone... it's been a while.. So.. it's that time again.. I have a pretty stable release ready for you all. That is .. it will probably become the official release once I update all the release notes.. But I would very much like some outside testing.. This release I focused a lot on performance, so look at that.. Also I updated the scc provider for th

[2016-05-10 19:38] jzoss commented on #11
@pjdupreez Hey long time on this bug.. anyway can you check out this [comment](https://github.com/jzoss/Git-Source-Control-Provider/issues/30#issuecomment-218266355) about the new release .. It has some new multi-repo support. Just wondering what you think

[2016-05-10 19:42] jzoss commented on #47
@NightOwl888 Check out the latest C.I. build in the release tab.. It will probably become the next release ... tell me if this is working the way you like.

[2016-05-10 19:50] ddobrev commented on #30
@jzoss I have been using the build from two weeks ago - when we were discussing performance at https://github.com/jzoss/Git-Source-Control-Provider/issues/46 - without updating. I haven't encountered any bugs, first, and I stopped having CPU pressure at each change. So as far as I am concerned, you might as well go ahead and make an official release. I have installed the latest build just in case

[2016-05-12 11:02] AndyZhang001 opened #49 "Cannot use git source control provider any more"
Can still see it in the source control plug-in dropdown list. But nothing happen when select it.

version: 1.6
vs version: vs2015 update1

Previously saw some error in ActivityLog:
513  Begin package load [BasicSccProvider] {C4128D99-2000-41D1-A6C3-704E6C1A3DE2}  VisualStudio 2016/05/12 08:17:14.574

514 ERROR SetSite failed for package [BasicSccProvider][Could not load type 'Microsoft.VisualStudi

[2016-05-12 12:48] jzoss commented on #49
Crap..  See the issue..  It is because you don't have Release 2 installed.  You  can either update or uninstall 1.6 and grab 1.5.1 from the release tab in GitHub.. Just turn off auto update for now.

[2016-05-12 16:23] jzoss commented on #49
@AndyZhang001 Hi.. If you have not upgraded to Update 2 yet.. can you head over here https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI and download that build and test it for me... That would be awesome! I think I have it sorted out..

[2016-05-12 19:27] vaindil commented on #39
I'm having this problem on 1.6.0. I installed it for the first time ever today (never had an older version of the plugin). Git for Windows 2.8.2, Visual Studio 2015 Update 2 (14.0.25123.00), Windows 10 Professional x64. I tried pointing the plugin to both `sh.exe` and `git.exe`, neither has had any effect.

[2016-05-12 19:33] jzoss commented on #39
@vaindil Can you make sure you expanded the window all the way.. sometime the stupid tab thing with the changes gets minimized. if not I will look into it.

[2016-05-12 20:37] vaindil commented on #39
@jzoss Yeah, there's nothing there. This may actually be a new issue, it's not just the pending changes window. The toolbar shows 0 changes and no files show edits in Solution Explorer. I'm in the middle of a merge so hundreds of files are changed; the built-in git provider shows them (that's what I've been using). Editing a file and saving doesn't change anything in the display with the plugin se

[2016-05-12 21:03] jzoss commented on #39
@vaindil Yea It might be.. I am wondering... is it because of the merge.. If you by chance have a solution that has changes not in a merge can you see the changes.. Anyway.. if it is the merge .. at least that will be easier to track down..

[2016-05-13 03:45] AndyZhang001 commented on #49
@jzoss Tested the link, it works now on 2015 update 1. Thanks a lot.

[2016-05-13 12:11] vaindil commented on #39
@jzoss My other solutions work correctly, it must be the merge. I'll open a new issue for this.

[2016-05-13 12:16] vaindil opened #51 "New installation during merge doesn't display file changes"
I installed the extension fresh (never had it installed before) during a merge on one of my repositories. The repository shows no changed files--the pending changes window is always empty, and no icons next to files in Solution Explorer show an added/updated status. The toolbar icon shows 0 pending edits. The built-in source provider works correctly. Git for Windows 2.8.2, plugin 1.6.0, Visual Stu

[2016-05-13 15:35] jzoss commented on #49
Cool..  Released a new build on the official release track..  Thanks for helping me fix the issue!

[2016-05-13 15:35] #49 closed

[2016-05-13 17:51] jzoss commented on #51
@vaindil Well.. I can't get it to break on mine yet.. Not sure why.. yet.. so any extra info on your setup could help..

[2016-05-15 19:44] NightOwl888 commented on #47
I downloaded 1.6.2 and this appears to be working again. Thanks.

[2016-05-16 13:09] NightOwl888 commented on #47
Well, it is *almost* working the way it was before. I noticed that when double-clicking in the previous version the insertion point went to the end of the word that you clicked on. Now it puts the insertion point at the beginning of the line.

This is something I can live with, but it is a bit different than the behavior before.

[2016-05-16 15:57] PhilMurwin commented on #45
Environment:
* Windows 10
* VS 2015
* Various Azure and other MS installed extensions
* Git Source Control Provider (I reviewed my extension list and I don't have any other extensions that weren't pre-installed by MS/Visual studio)

My coworker is seeing the same issue; I can lay out a bit more detail:

1. Easiest to see with more 2+ files modified or new
2. Click a file in the list to view the ch

[2016-05-16 20:00] jzoss commented on #45
Thanks for the more info.. I have yet to reproduce .. but I will try again later...

I am super cool if you want to figure it out.. it has to be somewhere in PendingChangesView.xaml.cs

Note : all you should have to do to get it running is make sure you install the vs extension development from the vs2015 setup and set the running program to GitSccProvider with these options

Run external program

[2016-05-17 14:16] jbestrom commented on #30
@jzoss I'm finally able to consistently run VS2k15 now so I'll make sure to keep an eye out for any issues I see and report back on them.

[2016-05-17 14:23] PureKrome commented on #30
I've been using the latest version since well .. 7 days ago from this comment.

no probs so far.

NitPick: when i hover the mouse cursor over the pencil icon in the `status bar`, i get a tooltip that is .. well.. empty.

[2016-05-17 14:44] jzoss commented on #30
@PureKrome...  Dam you!  I totally forgot to add the tool tip.. I was hoping no one would notice 😀.  I'll fix it in the next release.

[2016-05-17 20:21] jzoss commented on #46
@ddobrev OK.. I still blame you for me hacking at performance :) Anyway.. I fixed a big bug.. Well a small bug but it makes a big performance difference.. Anyway check the latest C.I. build and tell me what you think.

EDIT: My build is going super slow.. the C.I. build should be there.. soon.. tell me if you need me to upload it manually.. Anyway.. initial tests.. the cpu spike is gone.. :)

[2016-05-17 20:39] ddobrev commented on #46
I'll gladly try it but I can see you keep queuing new builds. When the build is complete, I'll download and test.

[2016-05-17 20:43] jzoss commented on #46
@ddobrev Just that the latest one now.. not sure why I can't deploy to github right now.

[2016-05-17 20:55] ddobrev commented on #46
It's MUCH faster, thank you! I've had a minor bug with the new release, though - sometimes changed files are marked with the blue tick instead of the red one, usually when files have already been changed before loading the solution. Could you please check this one? After that you might as well update the official release.

[2016-05-17 21:04] jzoss commented on #46
@ddobrev Yea.. that's sorta a feature.. :) The blue check is when the file has been staged.. but not commit-ed. I guess I could change it

[2016-05-17 21:06] ddobrev commented on #46
Oh, I see. It's OK then.

[2016-05-17 21:06] jzoss commented on #46
So.. this is lame. look at the bug https://github.com/jzoss/Git-Source-Control-Provider/commit/1d090f2687cf79d6905db0335fcb9fcb44274359

misplaced  }

[2016-05-17 21:34] jzoss commented on #46
@ddobrev. I may fix one more little issue..  But you are right..  Probably time to release

[2016-05-18 03:35] PureKrome commented on #30
First thing I did after installation - ooOOO! new shiney bits .. what do they _all_ do?

[2016-05-20 19:25] jzoss commented on #30
@PureKrome .. You win.. 1.6.3 is out... with tooltips :)

[2016-05-20 19:25] jzoss commented on #46
@ddobrev ..Just pushing out 1.6.3.. with the performance update.

[2016-05-20 19:55] ddobrev commented on #46
Thanks. The copy in the VS gallery hasn't been updated for some reason. I can download the release manually but I guess you want the gallery to have the latest version too.

[2016-05-20 19:56] ddobrev commented on #46
To be exact, it seems it doesn't actually consider 1.6.3 different than the .110 nightly I have here.

[2016-05-20 21:18] jzoss commented on #46
@ddobrev it should update.  It can take a bit for visual studio to detect it.  The nightly should be 1.6.2.110.. So it will update eventually

[2016-05-23 16:33] jzoss commented on #46
@ddobrev .. Did it ever update?

[2016-05-23 16:55] ddobrev commented on #46
I don't know. I decided to remove the add-in and install it again from the gallery. But when I went there, it showed 1.6.3. This was before I posted my previous comment. It seems to me that 1.6.3 was actually uploaded to the gallery but the difference in versions could not be detected by VS.

[2016-05-23 19:11] jzoss commented on #30
@PureKrome , @jbestrom, @teebee76 , @ddobrev - I was hoping you guys could do a sanity test for me.. I have a new C.I. build [here](https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI) .. I should be exactly the same as the last release build, except 65% smaller. I just cleaned up the build and stuff.. Anyway.. if you could install it and make sure you have no issues, that wo

[2016-05-23 19:11] jzoss commented on #30
@PureKrome , @jbestrom, @teebee76 , @ddobrev - I was hoping you guys could do a sanity test for me.. I have a new C.I. build [here](https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI) .. I should be exactly the same as the last release build, except 65% smaller. I just cleaned up the build and stuff.. Anyway.. if you could install it and make sure you have no issues, that wo

[2016-05-23 23:31] PureKrome commented on #30
8mb down to just-under 3mb....

[2016-05-25 08:43] 0x084E commented on #30
intsalled this morgning, working well so far :+1:

[2016-05-25 15:37] jzoss commented on #30
@0x084E , @PureKrome .. Thanks for testing.. should be no issues at all :) I need to fix at least 1 bug.. For some reason I think it may not be a good idea to do a new release just because the download is smaller...

[2016-05-25 22:41] PureKrome commented on #30
+1 on _not_ releasing because of a new installer (vs bugfixes/features).

[2016-06-01 17:48] jzoss commented on #45
@PhilMurwin
Can you install the latest C.I. build.. I was finally able to reproduce it.. and I think I have a fix. check it out https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI

[2016-06-02 22:01] PhilMurwin commented on #45
@jzoss I just grabbed the C.I. build and this is working now in all three themes (blue, light, and dark). Thanks!

[2016-06-05 13:58] yannduran commented on #31
@jzoss +1 for integrating GitFlow into your extension. I'd be happy to give whatever assistance that I can, if you'll have me that is :-)

[2016-06-06 16:40] jzoss commented on #31
@yannduran This is totally the next feature I want to implement. So.. First things first.. I was working on making GitFlow work natively with libgit2sharp .. I actually made it pretty far.. Check out this repo... https://github.com/jzoss/libgitflow2sharp .. Once that is done.. It I want to start adding it to the extension.

[2016-06-06 16:54] jzoss commented on #45
Cool.. Thanks for testing!

[2016-06-06 16:54] #45 closed

[2016-06-10 16:52] ddobrev commented on #30
I've been using the small for two weeks, no problems.

[2016-06-10 16:55] ddobrev opened #53 "Automatically add a file to source control when it's been added to a project"
I kept forgetting to request this feature even though it's been the only annoyance I've had with this add-in since the very beginning (Yiyi Sun's work). It would be really convenient to auto-add a new file the moment it's added to a project, or a solution, while at the same time I don't think there are any down sides. Now I have to open Windows Explorer each time to add the file with Tortoise Git.

[2016-06-11 04:28] PureKrome commented on #30
Same here - been using it since it was released. all good so far...

[2016-06-13 15:24] jzoss commented on #30
Thanks Everyone.. You should have gotten the auto-update to 1.6.4 :)  Thanks for testing. I like it being way smaller.

[2016-06-20 15:26] jzoss commented on #53
Feel free to check out the latest C.I. build.. This feature is halfway done.. By that I mean.. I added a option to auto add the files and it works when you add a file to a project. It does not work yet when you add a whole new project.

[2016-06-21 07:29] fitdev opened #54 "VS 2015 Update 2 Crash"
I use VS 2015 Update 2 Community. When I enable GIT source control provider from the options, and open a GIT-controlled project VS crashes with this exception:

I have latest GIT for Windows and TotroiseGIT installed, no GIT Extensions.

[2016-06-21 17:25] jzoss commented on #54
Interesting .. Thanks for the detailed error.. I'll look into it..

[2016-06-21 18:26] jzoss commented on #54
@fitdev I have not been able to recreate your issue yet.. BUT I may have an idea how to fix it.. I attached a special build for you.. Please uninstall what you have and install this.. Might need to turn off autoupdates too.. anyway install it and tell me if it fixes you issue.

[GitSccProvider.zip](https://github.com/jzoss/Git-Source-Control-Provider/files/326309/GitSccProvider.zip)

[2016-06-21 18:52] fitdev commented on #54
Wow! Thanks for such a quick reply and a blazingly fast fix! Seems to have done the trick! I have not yet done extensive testing, but it has not crashed yet where previously it did crash.

As an aside, I am still not certain what difference there is between your GIT Provider and the one built-in to VS 2015 functionality-wise. It is not explained anywhere. (The reason I wanted to try and now am try

[2016-06-21 19:04] jzoss commented on #54
@fitdev I have no idea if that will work.. I've never tired.. :) But Please try it and tell me if it does!

So differences .. It is a fork of a git provider from 2012 and 2013 before built is support.. But.. I liked it better so I forked it and updated it.. It have a few advantages IMHO.. The ui is different , I like using TotroiseGIT UI better that the TFS . Also it works with multiple repos in o

[2016-06-21 19:29] fitdev commented on #54
Thanks for such quick responses! Really appreciate it. Yes, it works and did not crash! So whatever you did, it apparently fixed it!

Unfortunately the feature I was hoping for (directory junction support) is not working. I guess VS screws it up somehow. Perhaps it would be a useful feature for your extension to support...

Basic idea is simple: inside your solution which is under GIT control, the

[2016-07-04 20:07] ddobrev commented on #53
Hello @jzoss , I am afraid I have been really busy to test this but I am sure you did an excellent job as usual. I can wait for the final release.

[2016-07-15 14:13] jzoss commented on #53
@ddobrev You can check the latest C.I. build.. things are working .. Just a note .. for now if you add a project.. you need to right click on it, go to the scc menu and say add project.

[2016-07-15 16:34] jzoss commented on #54
I think it is fixed

[2016-07-15 16:34] #54 closed

[2016-07-15 16:35] jzoss commented on #53
Done for 1.6.5

[2016-08-05 06:48] benny856694 opened #56 "Disabled by VS2015"
sometimes, this extension will be disabled by VS2015, don't know why.

[2016-08-06 13:17] #56 closed

[2016-08-12 18:36] SteveOwensFDC opened #57 "BasicSccProvider won't load"
VS 2015, latest updates applied.  On trying to switch to the Git provider, VS shows a dialog (attached) with "The 'BasicSccProvider' package did not load correctly."  Also attached is ActivityLog.xml, for what it's worth.

I have tried uninstalling/reinstalling, installing a recent nightly (v1.6.4.9), and finally reinstalling Visual Studio itself, but I can't seem to clear the error.

[ActivityLog

[2016-08-12 19:16] jzoss commented on #57
Thanks.. I will take a look. I wonder if it may be colliding with another extension. Anyway if you WANTED to you could check out the code an run it and see what happened. I will see if I can figure it out on my end.

[2016-08-15 14:43] SteveOwensFDC commented on #57
I’m willing to give it a try, since the built-in MS Git is not working for us.

To start, I’m not sure how to get set up for Extension development.  Installed the SDK, but I’m still getting an error for Microsoft.VisualStudio.ErrorHandler.  I see two different versions in the GAC, 10.0 and 14.0.

Am I barking up the wrong tree here?  Is there some other step I need to take to be able to build?

On

[2016-08-15 15:31] jzoss commented on #57
Hey thanks for your help.. I'll get you on the right track.. First.. just as another test... for to bug here... https://github.com/jzoss/Git-Source-Control-Provider/issues/54 here is a special zip install there.. follow the directions and try and install it.. See if that fixes the bug.. If so, I think I can fix your issue.

Anyway, to build you go to the setup for vs2k15 and install all the extens

[2016-08-15 16:42] RaveNoX commented on #56
@benny856694 do you have some information about this problem?
I also have this but don't know how to fix.

[2016-08-15 16:50] SteveOwensFDC commented on #57
Sadly, the .zip version did not fix my error.

I still can’t get the .sln to realize that I have Microsoft.VisualStudio.dll in multiple places, most notably the GAC.  I have tried adding both the 2.0 and 4.0_14 versions as a reference in the project, but it keeps giving me errors that look like a missing reference to VisualStudio or VisualStudio.Shell .  I’m stumped.

I tried running a barebones e

[2016-08-15 17:18] jzoss commented on #57
Odd.. I will take a look.. All those references should be added by nuget I think.  I tried it a few computers and I worked for me.. but I may be able to track it down. I hate to ask, do you have another pc to test on for reference ?

[2016-08-15 17:20] SteveOwensFDC commented on #57
I will try it on my home machine later tonight.

From: Jon Z [mailto:notifications@github.com]
Sent: Monday, August 15, 2016 1:18 PM
To: jzoss/Git-Source-Control-Provider <Git-Source-Control-Provider@noreply.github.com>
Cc: Owens, Stephen <Stephen.Owens@firstdata.com>; Author <author@noreply.github.com>
Subject: Re: [jzoss/Git-Source-Control-Provider] BasicSccProvider won't load (#57)

Odd.. I wil

[2016-08-15 17:30] jzoss commented on #57
2 things.. I updated the nuget references and pushed , so try getting the latest dev branch and test that. Don't think that will fix it but hey, worth a shot.

Also the target framework should be 4.5.2. Don't know what that would change but can you make sure that is the same on your computer?

[2016-08-15 18:04] RaveNoX commented on #56
For users which also has this problem:
1) There may dublicate extension: http://david.gardiner.net.au/2015/11/web-essentials-2015-extension-keeps.html
2) You may also try clear MEF cache with this extension: https://github.com/madskristensen/ClearComponentCache

[2016-08-15 19:01] SteveOwensFDC commented on #57
Wow, the updated solution looks a lot different.  Everything compiles now, my plugin now mysteriously is working.

I get the warning “if you switch plugins the solution will close”.  Is there a way in the .sln file I can force the plugin to be the Git Provider?

From: Jon Z [mailto:notifications@github.com]
Sent: Monday, August 15, 2016 1:31 PM
To: jzoss/Git-Source-Control-Provider <Git-Source-Con

[2016-08-15 19:05] jzoss commented on #57
Cool.. glad to hear it.. No idea why :+1:

For the second part.. that is a "feature" VS2k15 .. Once you switch and reopen it should stay that way .

[2016-08-15 19:10] SteveOwensFDC commented on #57
Hmmm. The change doesn’t “take” for me with my existing projects cloned from the remote repo.  I will have to fiddle some more to see what I can make happen.

From: Jon Z [mailto:notifications@github.com]
Sent: Monday, August 15, 2016 3:06 PM
To: jzoss/Git-Source-Control-Provider <Git-Source-Control-Provider@noreply.github.com>
Cc: Owens, Stephen <Stephen.Owens@firstdata.com>; Author <author@norep

[2016-08-16 15:50] SteveOwensFDC commented on #57
I have a possible reason for my initial troubles and why it started working.

After having issues with an extension, I often disable everything I can and try it again.  Once the Git SCP was working, I enabled everything.  When I restarted, I had a load error with Git Tools.

Since Git SCP has a right-click menu of everything, I disabled Git Tools.  I mention it in case it’s something to put as a c

[2016-08-16 16:03] jzoss commented on #57
Yea I can see that.. Both plugins were forked from the same project, just went different directions ..  Anyway tell me what you think of the plugin.. I hope it works for you. If you want to feel good and support me a bit, no need for $$ just give me a nice review on the extension site and/or tell a few other people how awesome it is.

[2016-08-16 16:03] #57 closed

[2016-08-19 17:23] SteveOwensFDC commented on #57
I’m in the process of rolling this out to the team, and one machine (so far) had an issue.

When switching providers, Git SCP is in the list, but when I click on it, it immediately switches back to the previous setting.

I’ve tried installing the latest CI version but no luck.  Unlike me, this person has very few 3rd party extensions installed, so it’s not likely to be the type of conflict I had w

[2016-08-19 20:36] jzoss commented on #57
Sorry I am on vacation today , so I am not at my dev computer. Besides checking out the code on his computer and trying to debug, I'm not sure off the top of my head. I seems to remember this happening to some else before, I'll look through the closed bugs when I can..

[2016-08-19 20:38] jzoss commented on #57
What update of visual studio does he have?

[2016-08-23 15:57] jzoss commented on #30
@jbestrom @teebee76 @PureKrome @ddobrev @0x084E .. HI to all the cool people.. It's been a while.. I got a new job, so things slowed down a bit..

Anyway there is a new c.i. build and it could become 1.6.5. But I want a little feedback first.

1. I think before 1.7 I need a new name. 1.7 is going to hopefully run in the new visual studio. So I was thinking Git SCC Plus or something.

2. Check out

[2016-08-23 16:03] jzoss commented on #57
@SteveOwensFDC Hey, did you get it working? I am finishing up the next release and I want to make sure it's working with you before I do.

[2016-08-23 17:00] ddobrev commented on #30
1. I think the current name is fine, it clearly describes what the add-in does. Other than that, I have no particular suggestions;
2. Thank you for this one, as I mentioned when I added the feature request, this was the only major inconvenience with the original project. About adding projects, is there a problem with just going through each added file and adding it to version control automatically

[2016-08-23 17:06] jbestrom commented on #30
1. Don't care about the name as long as I can find it :)
2. I'll test when I get a chance.
3. Why do you think that storing in the user directory is bad? I semi agree with @ddobrev about the registry being a bad choice.

[2016-08-23 17:08] jzoss commented on #30
@ddobrev
To answer #2 No.. Once the project is added it adds the files.. and once you right click on the project ad add it goes through and add all the files and adds them. The issue is it's hard to tell when to add the project... The project says it's loaded before it sorta is.. if that makes sense.. So when you look for all the files they might not be loaded.. Anyway I may work on that.

As for

[2016-08-23 17:12] jbestrom commented on #30
I'm cool with Q3 change then I was taking it that you were creating new registry entries just for this extension. Does the built in user store handle the removing correctly when you remove the extension?

[2016-08-23 17:13] ddobrev commented on #30
@jzoss
2. I understand, it's OK. Adding entire new projects happens way too rarely given the entire lifetime of developing a program so we'll be just as fine without;
3. I myself would be tempted by going with the standard. However, when the standard is bad, as it often is with Microsoft, the custom solution is preferable. So I support @jbestrom 's suggestion of you sharing what the problem with t

[2016-08-23 17:42] jzoss commented on #30
No big reason to make the change.. just didn't like the file there, it never gets cleaned up, and I was trying to make the options follow you with the login.

[2016-08-23 18:10] ddobrev commented on #30
I see, in this case I think the old way is better. You most probably have some hooks when the add-in is removed where you can delete the file if you want. But even if it remains, it's not a big deal because it's extremely small (how large can a text file be?) and it's on the file system. Besides, this way settings persist when manually removing and then reinstalling the add-in (for example, when t

[2016-08-23 23:06] PureKrome commented on #30
What are the *options* that are getting saved into a registry?

Personally - i think the registry is bane of all evil. A simple settings file side-by-side the app or in some user folder (for user based settings) make way more sense to me.

[2016-08-24 08:33] 0x084E commented on #30
Generally I'm with you people regardig the registry, but I think this case is different.

Settings are not stored direcly in the registry but as @jzoss mentioned in the user settings store which is obviously stored in the registry but has one advantage above a custom file (and @jzoss already mentioned):
Settings are synchronized with your profile. Also settings are exported with the standard VS ex

[2016-08-24 18:41] jzoss commented on #30
I am going to give the win to @0x084E :) for doing the research.  Now it seems the best move to use the user setting store and let it do it's thing. Next version of vs looks to fix it, and if I would have just said changed the options to use the standard user store, I don't think anyone would have cared :) Anyone disagree?

[2016-08-24 18:51] jbestrom commented on #30
Wouldn't have even noticed :) you used the dreaded "Registry" word though.

[2016-08-24 18:52] jzoss commented on #30
@jbestrom I know.. I should have not used the "R" word..

[2016-08-25 00:31] PureKrome commented on #30
Sounds great!

[2016-08-26 20:10] jzoss commented on #30
Hi all again.. So.. I just pushed an new c.i. build... So... @ddobrev It now adds projects automatically, just check the options..

Anyway, I'd like people to test it out hard core.. Doing the auto-add exposed some long simmering bugs, that under normal usage may not have shown up.. Anyway, make sure all the file status stuff still works right.. Performance to me seems a BIT better, but make sure

[2016-08-27 03:30] ddobrev commented on #30
I don't think so, that is - why would you not want to add it? Of course, VS does generate useless Class1.cs files by default but it's none of GitSCC's responsibility.

[2016-08-27 04:05] PureKrome opened #58 "When commiting, auto-refresh the solution"
After I've commited some changes/files/etc .. the solution hasn't been updated. I manually click the refresh button and the _changed_ icons on the various files i just commited, refresh correct to the lock icon.

maybe automate this on commit?

[2016-08-29 20:18] jzoss commented on #58
Which version are you using.. are you committing from Visual Studio or from a external tool like Tortoise Git?

[2016-08-29 20:25] jzoss commented on #58
I am totally hoping you are not using GSCP CI Build 1.6.4.16 ... Because that is the latest and I can't get it to to it there.. GSCP CI Build 1.6.4.15 I think I see the bug.

[2016-08-29 22:39] PureKrome commented on #58
I'm pretty sure i'm:

1 - using the latest release from a few days ago?
2 - usually in VS. (I get it, if it's from outside of VS)

[2016-09-12 16:09] jzoss commented on #58
Ok.. I finally got the issue to happen a few times.. Not 100% sure why it works sometimes and not others.. Anyway.. I added a explicit event, when the head sha(id) changes, I force a icon refresh .. I should not have to do this, I think it means I have a bug elsewhere. Anyway please try out the latest build.. Moving towards a final release soon I hope.

[2016-09-12 23:55] PureKrome commented on #58
Is that `GSCP CI Build 1.6.4.17` (from 3 days ago .. with respect to Now ?)

[2016-09-12 23:57] jzoss commented on #58
Yeah i did it Friday and forgot to mention it.

On Mon, Sep 12, 2016, 6:56 PM Pure Krome <notifications@github.com> wrote:

[2016-09-13 00:32] PureKrome commented on #58
Ta. dl'ing now.

[2016-09-15 04:41] PureKrome opened #59 "[Request] Visual character count for commit subject line."
It's an art trying to make succinct commit subject lines that don't get auto-cut-wrapped in GitHub, etc.

So maybe we could have a simple char-counter so we can see how many we have typed?

eg...

![image](https://cloud.githubusercontent.com/assets/899878/18538565/987182ea-7b52-11e6-93e3-68ab83bcffd7.png)

EDIT: it only reads the char count for the **first** line (because that's the subject line).

[2016-09-15 18:50] jzoss commented on #30
Thanks again everyone .. I just pushed the final 1.6.5(.1) release..  Could not do it with out you guys!

[2016-09-20 06:46] benny856694 commented on #56
removing and reinstalling the extension solved the problem

[2016-09-20 20:35] ddobrev opened #61 "Add files to source control when they are included in the project"
As an enhancement to https://github.com/jzoss/Git-Source-Control-Provider/issues/53 (thank you!), GitSCC could also add files to source control when "Show All Files" is selected for a project and then a file is included in that project.

[2016-10-19 15:49] tillito77 opened #62 "Disable spell check in message window when committing"
It is very annoying to have the spell checker underline every word of the comment text box when committing.

My comments are in English, but the spell checker expects German, which is the language of my Visual Studio.

Would be great to have an option to turn off the spell check or at least turn it to a certain language.

[2016-10-19 23:34] PureKrome opened #63 "Rename the Plugin"
![image](https://cloud.githubusercontent.com/assets/899878/19541230/760182fe-96b0-11e6-8579-2c258421d4a5.png)

![image](https://cloud.githubusercontent.com/assets/899878/19541243/89bc7506-96b0-11e6-9b7b-1435da22c57b.png)

I had to install the plugin today on a temp machine. First thing i noticed was the _name_ of the plugin.

It 'feels' like this is a plugin made for the YEAR 2015 and as such .. i

[2016-10-20 18:56] jzoss commented on #63
I agree.. I think I asked a while back about renaming it, if anyone had suggestions.. I am totally open to a rename. Suggest something cool!

[2016-10-20 21:57] PureKrome commented on #63
- Easy Git
- Simple Git
- Git GUI
- Git for Visual Studio
- Git it
- Go Git it.

[2016-10-20 22:06] jbestrom commented on #63
Looks like Easy Git is already taken from your screen shot.
Git GUI is already an app for git for windows.

I like

* Simple Git
* Git for Visual Studio

or my suggestions

* Better Git
 * VS Git

[2016-10-20 22:23] cyberium commented on #63
- Git for Visual Studio
- Easy Git Integration Plugin For Visual Studio -> EGIP
- Easy Git Integration Tools For Visual Studio -> EGIT

[2016-10-21 15:38] jzoss commented on #63
OK..  Survey link..  https://www.surveymonkey.com/r/7H8VNLG

[2016-11-15 17:15] jbestrom commented on #63
So what did you decide?

[2016-11-15 19:44] jzoss commented on #63
After 13 responses .. Better Git and Easy Git Integration Plugin For Visual Studio -> EGIP are tied... I may flip a coin.

[2016-11-15 19:50] jzoss commented on #63
Ok.. just popped in my head.. what do people think

Easy Git Integration Tools For Visual Studio ->  EZ-GIT

[2016-11-15 20:31] jbestrom commented on #63
I like it!

[2016-11-15 23:19] PureKrome commented on #63
Refactor suggestion: `Easy Git Integration Tools -> EZ-GIT` ... drop the for VS because this is implied. we _are_ in the VS gallery.....

[2016-11-17 16:05] jzoss commented on #63
@PureKrome -- Love it! Ok Going to do a release soon to change the name and hopefully add VS 2017 support.

[2017-01-09 03:08] PureKrome opened #65 "EZ-GIT is always disabled?"
I'm trying to see if this is just a problem with _my_ setup ... but ...

every time I start VS2015 EZ-GIT is **disabled**. I also have to go and:

- Enable EZ-GIT (Tools -> Extensions & Updates)
- (Sometimes) Select EZ-GIT as the prefered Source Control provider (Tools -> Options -> Source Control)

anyone else having this issue?

[2017-01-09 11:44] davedowns commented on #65
I also have that issue, using Visual Studio 2015 Community Edition.

[2017-01-09 16:32] jzoss commented on #65
Check out https://github.com/jzoss/Git-Source-Control-Provider/issues/56 Seems like it happens sometimes

[2017-01-09 17:16] davedowns commented on #65
I had to uninstall twice but that's fixed it for me.

I uninstalled the extension, restarted, checked the extensions list and it was still installed. I uninstalled again, restarted again, check the extensions list again and this time it was gone. I could then reinstall and everything work as it did before the recent update.

That seems to mirror the problem David Gardiner was having with Web Essen

[2017-01-20 21:14] jbestrom opened #66 "VS2017 Support"
If I recall correctly you were working on 2017 support, how is that going?

[2017-01-20 21:15] jzoss commented on #66
I have a version that works.. just testing it a bit.. I'll check it in soon enough for people to test.

[2017-01-27 22:58] ddobrev opened #67 "Glyphs not refreshed after committing"
When I commit my changes, the changed files in the solution explorer remain marked as such, even when I refresh manually. The reason might be that my project files are not contained in my repository because they are generated. You could try it yourself - https://github.com/mono/CppSharp . I am ready to help if you need me to.

[2017-01-30 20:13] jzoss commented on #66
Ok.. here is the first test release for 2017 and 2015.. Please test it in both.

https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/Pre-1.7

[2017-01-30 20:15] jzoss commented on #67
I will test it out :) ... I just spent a lot longer than I expected updating stuff to 2017.. Anyway. I will check out out when I can.

[2017-02-01 17:06] jbestrom commented on #66
2 days and so far seems good. I'm closing this and will open another issue if I see anything else.

[2017-02-01 17:06] #66 closed

[2017-02-01 17:28] jzoss commented on #66
Cool.. Also check out the same build in Vs 2015... I've been using that and it seems good to me.

[2017-02-01 17:54] jzoss commented on #67
@ddobrev I may need your help.. I just tried this with my latest dev build and it works fine.. In fact I think a while back I did something to account for this for you :) But that does not mean much because there is probably a bug somewhere.  Anyway, 2 things.. What is the path you are using.. I have it checked out to C:\DevExamples\CppSharp\ and that work fine. I am wondering it has something to

[2017-02-01 20:44] ddobrev commented on #67
I would gladly try your dev build, where can I get it from?

[2017-02-01 20:56] jzoss commented on #67
https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/Pre-1.7

Try that one.. I'll keep trying to break it too.

[2017-02-01 20:59] ddobrev commented on #67
I'm afraid I got this:

---------------------------
Microsoft Visual Studio
---------------------------
The 'BasicSccProvider' package did not load correctly.

The problem may have been caused by a configuration change or by the installation of another extension. You can get more information by examining the file 'C:\Users\Dimitar Dobrev\AppData\Roaming\Microsoft\VisualStudio\14.0\ActivityLog.xml'

[2017-02-01 21:02] jzoss commented on #67
Yea I got that the first time too.. Did you try resting VS 2015 turning it back on?

[2017-02-01 21:05] ddobrev commented on #67
I didn't restart VS but I did try to manually reselect the plug-in from the options for source control. I got the same message. Anyway, in my opinion you should fix this bug first, especially since you get it yourself, before pushing builds for testing.

[2017-02-01 21:06] jzoss commented on #67
I agree.. I'm working on it.

[2017-02-01 21:10] ddobrev commented on #67
Thank you. :)
About the new name, as I asked above (you might have not seen it because it's at the bottom of the error message. I am sure you had your reasons to change the name but I really really liked "Git Source Control Provider". :) Is there any chance we can discuss renaming it back?

[2017-02-01 21:19] jzoss commented on #67
Oh the name . .I guess. It was called Git Source Control Provider 2015.. and someone brought up it shoudl not be 2015 anymore.. I did not really care either way.. so people talked about it .. said they liked that.. Anyway I don't really care much.. :)

[2017-02-01 21:21] ddobrev commented on #67
"Git Source Control Provider 2017" is fine by me too. :) You're going to support VS 2017 so it makes sense. Would you like a pull request?

[2017-02-01 21:23] jzoss commented on #67
Ha.. maybe.. also try that link again.. just put an updated build ... It did not crash on me this time.

[2017-02-01 21:24] jzoss commented on #67
Also check out this about the rename https://github.com/jzoss/Git-Source-Control-Provider/issues/63

[2017-02-01 21:26] jzoss commented on #66
Again.. check out that link for the latest build..Test it out for me a little. If it still works fine, I'm going to merge it into the main dev branch.

[2017-02-01 21:29] ddobrev commented on #67
I'm afraid this time I got no message but also no glyphs at all and no context menu items.
About the renaming, let me read the discussion.

[2017-02-01 21:33] ddobrev commented on #67
OK, so the problem was in the year as you said. So I would send you a pull request which renames it to "Git Source Control Provider", this way you won't have to rename it again because of the year. What do you think?

[2017-02-01 21:36] jbestrom commented on #67
@ddobrev Git Source Control Provider is already an existing name/project. This one that you are currently using is a fork of that and was named GSCC2015 cause the fork was to make it work with VS2015.

[2017-02-01 21:39] jbestrom commented on #67
@ddobrev If I recall correctly Git Source Control Provider was the original name of the project this was forked from. @jzoss Forked it and named it with 2015 cause he was forking it to get it to work in VS2015. I think the most recent rename was to get away from having to change it every time VS updates. Correct me if i'm wrong @jzoss .

[2017-02-01 21:42] jzoss commented on #67
Yuck.. ok.. I'll see what I did.. man.. what did I break :)

@jbestrom you are correct.

[2017-02-01 21:44] ddobrev commented on #67
Thank you for the clarification, I found the old plug-in in the VS gallery. It's hardly possible to have @yysun remove his add-in because it works with versions of Visual Studio this one does not, namely 2010, 2012 and 2013. So, my final proposal is "Git Source Control Provider 2017", with my promise to update it myself in 2019. :) Please share your opinions.

[2017-02-01 21:50] jzoss commented on #67
@ddobrev I really don't care much.. but if you feel that strongly, feel free.. Just let me merge the 2017 branch in first, before you do a pull request...because that seems to have screwed everything up somehow..

[2017-02-01 21:51] ddobrev commented on #67
OK, I'll wait. :) Thank you.

[2017-02-01 23:03] jzoss commented on #67
Ok.. I'm out of time for today.. but I wanted to get 1 more build out.. Anyway check it out here.. https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/Pre-1.7.2

It works changing file on your project on my computer ..

[2017-02-02 10:17] ddobrev commented on #67
@jzoss this one simply goes back to the behaviour of the official release, I'm afraid. No messages, all glyphs, but the latter do no get updated when the state of a file is. Exactly as before: "Undo File Changes" does nothing, "Tortoise Git Revert" does nothing, even when accompanied with a manual "Refresh" afterwards. But I guess that if you cannot reproduce it, I'll just have to either make my p

[2017-02-02 14:52] jzoss commented on #67
@ddobrev Not surprised it is the same behavior. However I am happy to try to fix it.. Can you give me the file path you are using? I wonder if there is a bug there..

[2017-02-04 22:28] ddobrev commented on #67
Do you mean where my sln is located? It's a \\Mac\Home\Projects\CppSharp\build\vs2015 mapped to Y:\Projects\CppSharp\build\vs2015 - a path in Windows in Parallels Desktop for macOS.

[2017-02-05 06:09] cocosip opened #68 "object reference not set to an instance of an object"
vs2015 change the source control  to svn , when i create a new project, it has a error!
"object reference not set to an instance of an object"
disable the Git-Source-Control-Provider,error disappear.

[2017-02-05 18:31] ddobrev commented on #67
@jzoss I am still not sure what you meant by the path but I have another regular (the *.csproj are contained in the repo as well) project and the glyphs work properly so I don't think the location has any bearing.

[2017-02-06 18:02] jzoss commented on #68
What svn plugin are you using ?

[2017-02-06 18:20] jzoss commented on #67
@ddobrev you had the right right idea for path.. I just wanted to see if there was something path related, because I tried it a a few pcs and it worked.

I now have a working theory.. and maybe you can help me confirm this.. In the GitApi project there is a class
GitRepository.cs .. Line 137 setups up a FileSystemWatcher to detect file changes on repo. This is how I detect if an outside app checks

[2017-02-06 19:29] ddobrev commented on #67
I set GitSccProvider as my start-up project and set it to run VS when debugging. I got "No symbols have been loaded for this document" for my breakpoint. I am afraid I am going to be busy this week so if this issue blocks your release, just go ahead without it, we'll deal with it later.

[2017-02-06 19:49] jzoss commented on #67
@ddobrev worry not.. I'm super busy this week... Make sure it is in debug mode? I got nothing...

[2017-02-06 22:08] ddobrev commented on #67
@jzoss I looked a little more carefully and it turns out this problem is not specific to GitScc. TortoiseGit, for example, does not display any markings at all, that is, it does even worse than GitScc in this case. The moment I moved my project from that mapped network share to within the guest Windows, both the TGit icons appeared and GitScc started immediately reflecting any changes. So I have n

[2017-02-07 00:31] cocosip commented on #68
AnkhSvn+TortoiseSVN

[2017-02-07 22:29] jzoss commented on #67
Yea.. I may leave it open.. There is a chance that an update to the .net framework might fix it for me.. :)

[2017-02-07 22:47] jzoss commented on #67
Also I have merged the Vs2017 update into dev.. if you want to make a pull request.

[2017-02-07 22:54] jzoss commented on #30
Hey all.. I wanted to point out that the next release is almost here.. @jbestrom @teebee76 @ddobrev @0x084E @PureKrome .. and anyone else..I would love for you test.. https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI

This includes Vs 2017 support.

[2017-02-07 23:55] jbestrom commented on #30
Been on the 2017 version since you updated the code the first time and have not noticed any issues for what I do. I don't do a lot of branching or committing through the extension though as I have to send everything to an SVN server so I have to us the git svn dcommit/rebase commands.

[2017-02-08 00:28] PureKrome commented on #30
Installed. Will report back if any probs/issues/etc.

[2017-02-08 09:43] ddobrev commented on #67
@jzoss thank you for letting me know. I have sent my pull request and I am ready to install the new dev version as soon as you've merged. :)

[2017-02-08 16:12] jzoss commented on #63
@PureKrome @jbestrom @cyberium
HI all question..

So it came up here that https://github.com/jzoss/Git-Source-Control-Provider/issues/67 that @ddobrev really hates the new name.. Also I have noticed that there is another project called something really close to Ez-git.. Anyway not to cause issues .. but he suggest we rename it to Git Source Control Provider 2017. I don't have a opinion really. Wha

[2017-02-08 16:23] jzoss commented on #68
Have not been able to recreate yet.. That does not mean anything really because I have found visual studio setups are so different.
So does this happen every time you start a new project? With every type of project?
Were you in a git project, then switched or did you open a new VS2015 instance and switch ans start a new project ?

[2017-02-08 21:30] PureKrome commented on #63
Hate it.

1. it sounds like the bad old days of MS -> Visual Studio 2012 Winter Package Service Release 1 for Enterprise EU-A .. etc ...
2. What happens in 2018, 2019, etc?

[2017-02-08 21:40] ddobrev commented on #63
@PureKrome I'll update it myself in 2018 or 2019 or whenever. I prefer just "Git Source Control Provider" myself but @yysun's add-in has taken that name and he cannot be asked to remove it from the VS gallery because it still works with VS 2010 and 2013. The perfect solution would be for this GitScc to work with those too at which the package wouldn't need a year but I guess it's too much mostly p

[2017-02-13 21:51] jbestrom commented on #63
How much of a problem is it to just  leave the year off? I mean this version only works in 2015+ and the original only works in 2013 and below.

Could it just be Git Source Control Provider. I mean most people who would use this extension shouldn't have any trouble figuring out which one to use. I don't even think VS will allow you to install the wrong version.

[2017-02-13 21:53] ddobrev commented on #63
I am OK with "Git Source Control Provider" without a year as long as any possible confusion would be negligible. I guess @jzoss would have to say about it because this concerns how easily users would find and use his work.

[2017-02-16 11:54] ddobrev commented on #67
@jzoss there's a chance this is related to file or directory permissions. Another project, this one on my local drive to begin with, has the same problem. It is located directly in C:\ because I otherwise hit the legacy limitation of Windows allowing a file path of 255 characters at most. And C:\ in Windows 7 is, as you know, not writeable by default.

[2017-02-21 19:48] jzoss commented on #63
I'll close it for now again.. I'll leave it as it for now.. I want to get it out  and I've been a bit busy lately.

[2017-02-21 19:48] #63 closed

[2017-02-27 23:46] PureKrome commented on #65
Just started up another instance of VS2015 a few mins ago.

Plugin was disabled again. Also it has the name Easy Git Integration Tools (EZ-GIT) still (not sure if the name revert was suppose to happen before any next updates, etc)...

[2017-02-27 23:54] jzoss commented on #65
I didn't rename it.. I was supposed to get it out before 3/1/2017 and I didn't want people to have it auto-disable again.. I was going to look into fixing that.. I think it might have something to do with it updating in 1 instance on Visual Studio while you have another open. Anyway... LAMO

[2017-02-27 23:57] jzoss commented on #30
@jbestrom @teebee76 @ddobrev @0x084E @PureKrome - Hi party people.. I released 1.7.1 today.. I has a few super minor bug fixes and support for VS 2017. Yell if you run into issues ..

[2017-02-28 00:06] jzoss commented on #65
@PureKrome Are you running VS as admin or not? Just wondering.

[2017-02-28 00:22] PureKrome commented on #65
nope. not as admin. always as normal user.

(my user account is an admin user though). I'm assuming those are two different things, though.

[2017-02-28 00:33] jzoss commented on #65
Yes.. I just want to see if I can figure out the issue. I noticed I have
several plugins disabled in the same way.

On Mon, Feb 27, 2017, 6:22 PM Pure Krome <notifications@github.com> wrote:

[2017-03-01 18:23] davedowns commented on #65
I just had it happen again as well. As before, uninstall, restart VS, uninstall, restart VS, reinstall seems to have fixed the issue.

[2017-04-07 07:59] jerett opened #72 "Can't install on VS2017"
the detail log is here:

2017/4/7 15:56:48 - Microsoft VSIX Installer
2017/4/7 15:56:48 - -------------------------------------------
2017/4/7 15:56:48 - vsixinstaller.exe version:
2017/4/7 15:56:48 - 15.0.26323.1 built by: D15REL
2017/4/7 15:56:48 - -------------------------------------------
2017/4/7 15:56:48 - Command line parameters:
2017/4/7 15:56:48 - C:\Program Files (x86)\Microsoft Visual

[2017-04-07 08:15] jerett commented on #72
after upgrade VS2017, it works Ok

[2017-04-07 08:15] #72 closed

[2017-04-25 15:11] wilhen01 commented on #51
I've just seen this behaviour too against a Github repository under Visual Studio 2017. Now that I've finished the merge and committed it on the command line the extension seems to be working properly again.

[2017-04-26 07:38] cirelli94 opened #73 "Change diff command in Pending Changes"
I'd like to change the diff command used by the Pending Changes window in VS.
It is now `diff --git`. Can I use something like `git diff -w -U0 --word-diff-regex=[^[:space:]]` instead?
Thanks.

[2017-05-27 13:15] OvidiuCaba opened #74 "Show Log and Blame don't work for TortoiseGit integration"
**Steps to reproduce**

1. Select any file
2. Right click, open context menu, select menu option Git\Show Log
3. Observe that **the Log Messages table does not contain the history of the selected file**. Instead it contains only a single row: "Working tree changes"
4. Close the Show log window, then select any file
5. Right click, open context menu, select menu option Git\Blame
6. **An error is di

[2017-06-05 15:00] jzoss commented on #74
Awesome.. I love when people add bugs then fix them!

[2017-06-05 19:38] OvidiuCaba commented on #74
Thank you for the nice words! I am happy to help if I can :)

[2017-06-26 16:37] jzoss commented on #74
@OvidiuCaba Can you try the latest dev build here.. https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI

See if the issue is fixed for you. Thanks

[2017-06-26 18:49] OvidiuCaba commented on #74
@jzoss , I installed the version 1.7.1.14 and the issue is not fixed.

[2017-06-26 19:01] jzoss commented on #74
https://github.com/jzoss/Git-Source-Control-Provider/commit/282eca6942d11fa044ee90f00e28683bd59e5b4a#diff-8afcfdcb33f8ff84996edcfa247c1dee

Look like it.. I will have to take a look. What version of tsvn do you have?

[2017-06-27 17:02] OvidiuCaba commented on #74
The link that you provided is to the dev branch. So, indeed, you accepted my pull request and you merged my changes into dev branch. The problem is that I believe you made the build based on the master branch [where you also updated the version], without merging the changes from dev into master.

As you can see, the master branch only contains the version update, but not the fix:

https://github.c

[2017-06-28 16:28] jzoss commented on #74
Yea that one comes from the dev branch.. And yes.. brain fart I ment TGit not Tsvn...

[2017-06-28 19:51] OvidiuCaba commented on #74
So the merge came from dev and the build from master? So the next step would be a merge and a new build?
I ask this because I would like to know whether I need to do something to help.

[2017-07-06 13:56] ceztko opened #77 "Diff panel should be read-only"
The diff panel is now editable. Since there's no currently side-effect when editing the panel (for example, the change is reflected in the source code), this should be set read-only.

[2017-07-06 14:05] ceztko opened #78 "Commit comment text field shouldn't allow formatting"
Commit comment text field is currently allowing formatting. This is quite ugly when copying from source code or copying some different font: formatting should should be disabled. See the linked image for an example:

https://www.dropbox.com/s/1a69vzp0fql90hi/commit-comment.png?dl=0

[2017-07-06 14:09] ceztko opened #79 "Changes on source code are not reflected on diff panel"
Step to reproduce:
- Start with no pending changes;
- Edit one file;
- Click on pending changes file list the edited file. Observe the changes;
- Edit the file again: the diff window is not updated;
- Press the Refresh button: the button does nothing.

[2017-07-08 12:52] ceztko opened #80 "Copy a single word selected with mouse click in diff panel select the whole line"
Step to reproduce:
- Edit a file, go to the diff panel;
- Double click a word, copy it with CTRL+C
- Paste it somewhere: it copied the entire line.

Note for the author: I am reporting a lot of bugs these days. I realize most of these bugs are from the previous versions of the forked Git-Source-Control-Provider. Since the new [project](http://yysun.github.io/git-tools/#/) from the previous author

[2017-07-29 14:02] OvidiuCaba commented on #79
I believe that this is related to issue 74: https://github.com/jzoss/Git-Source-Control-Provider/issues/74

If that gets solved, this gets solved, as well. We're waiting for the fix to be pushed in prod.

[2017-08-15 15:12] jzoss commented on #80
Hey.. thanks for reporting issues.. I recently sold my house. .moved to a new house so that has been taking all my free time.. I really do appreciate it.  I want to do a bug release fix as soon as I get a bit more time.  I've seen the solution changes issue as well.. I'll take a look to see if I can fix it too.

[2017-08-15 15:16] jzoss commented on #74
Sorry it's been a while .. I moved.. July was the first part of August was really busy.. I'll keep looking..

[2017-08-15 15:26] jzoss commented on #79
I think you guys have something setup slightly differently. I did not get the same error.. It refreshed for me.. So.. can you give me the path for the project you are using? It's probably a case I am just not seeing.

[2017-08-15 15:54] OvidiuCaba commented on #79
I use VS 2015 and VS 2017 with TortoiseGit.

I provided a possible solution in the other thread (#74). The problem is that the method GetCaseSensitiveFileName() doesn't return the path with the correct case. Because of that incorrect casing, we have these undesired effects. If we fix the method to return the correct casing, everything will be OK [I can confirm that after testing the possible solut

[2017-08-15 15:59] jzoss commented on #79
I was pretty sure I fixed that in the last CI build in the release tab.. Check out https://github.com/jzoss/Git-Source-Control-Provider/compare/master...jzoss:dev

Anyway.. I will look more into it.

[2017-08-15 20:48] OvidiuCaba commented on #79
The link that you provided is a comparison between master and dev.

If you look at the commits in master branch:

https://github.com/jzoss/Git-Source-Control-Provider/commits/master

You can see that you updated the version on Jun 26, 2017.

But if you have a look on the dev branch:

https://github.com/jzoss/Git-Source-Control-Provider/commits/dev

You can see that the fix is merged into dev branc

[2017-08-15 20:51] jzoss commented on #79
No the CI build comes from the Dev branch.

[2017-08-15 20:54] OvidiuCaba commented on #79
I understand. Maybe just redo the package and I will test it again. It is strange that it worked on my local machine when I changed the code, but the new version of the extensions doesn't work. After I test it [the future new version], I give you a second feedback and we'll see what we need to do next... But hopefully, it will work :)

[2017-08-15 21:00] jzoss commented on #79
Yea..I'll check again.. if not.. I'll try and debug it a bit..

[2017-08-15 21:13] jzoss commented on #79
Ok try 1.7.1.17.. I just made ti build again.. with 1 extra bug fix.

[2017-08-15 21:14] #77 closed

[2017-08-15 21:25] OvidiuCaba commented on #79
Diff works. Show Log works. Blame works. :)

[2017-08-15 21:26] OvidiuCaba commented on #74
Diff works. Show Log works. Blame works. :)

So if this gets into production, this issue can be closed. Many thanks!

PS: Do not forget to test it on your machine, as well. Maybe with other setup... [different than mine: VS 2015/VS 2017 with TortoiseGit]

[2017-08-15 21:37] jzoss commented on #79
Nice.

On Tue, Aug 15, 2017, 4:25 PM Ovidiu Caba <notifications@github.com> wrote:

[2017-08-16 10:13] ceztko commented on #79
I just installed 1.17.1.17 and I am still having issues with the problem reported in this ticket. The steps to reproduce are the same, I will extend the description:

- Start with no pending changes;
- Edit one file;
- Click on pending changes file list the edited file. Observe the changes;
- Edit the file again: the diff window is **not** updated (at the current feature level, is supposed to be u

[2017-08-16 14:22] jzoss commented on #74
I am going to try and finish up a few more bug before I release ..Thanks for all your help!

[2017-08-16 19:26] OvidiuCaba commented on #79
I've just tested and, when I perform the second modification on the file, a message popups: "Do you want to load the changed files?". I choose Yes and the comparison window is refreshed, reflecting the last changes.

[2017-08-16 19:33] OvidiuCaba commented on #74
My pleasure! :)

[2017-08-16 23:17] ceztko commented on #79
I think there are still a misunderstanding: I am always editing the file within Visual Studio, not externally. What I am observing is diff panel refresh on the current visualized file is not performed after a second Visual Studio editor modification (and all following ones).

[2017-08-17 17:43] OvidiuCaba commented on #79
Me, too :) While keeping the Diff window open, I went in Visual Studio and changes the opened file in the Diff window. And the behavior is the one that I explained in the above message.

[2017-08-17 18:54] ceztko commented on #79
No, please repeat the steps using just the visual studio editor when required to make a change to a file and tell me if you can reproduce. It's a very basic use case.

[2017-08-18 11:09] ceztko commented on #79
The flow is so basic that maybe you don't have the bug and something is set up differently like @jzoss suggests. Please, look at this video:

https://drive.google.com/file/d/0B5eakb6RdPhANWZuU1BQRVdER3c/view?usp=sharing

My system is:
Windows 10 Pro 1703 64bit
Git SCC 1.7.1.17
TortoiseGit 2.5.0.0
git version 2.14.1.windows.1

[2017-08-18 11:13] ceztko commented on #77
It seems to me that this change made the diff panel non scrollable, effectively breaking it when the changes in the file are far enough. I think a property like `IsReadOnly` should be used instead of `IsEnabled`.

[2017-08-18 13:50] ceztko commented on #79
Then, did you reproduce?

[2017-08-18 15:43] OvidiuCaba commented on #79
I was able to reproduce, but that diff window is pretty stupid. In order to trigger a refresh, you need to select another file, then come back to the file you want to have its diff refreshed [you can do that if you have at least two files in pending changes]. Another issue is if you have a long file, you won't be able to see the changes made at the bottom of the file. In order to do that, you need

[2017-08-18 16:02] ceztko commented on #79
Good. The window is not stupid, it just have the bug I reported in this ticket. I find it very useful to quickly review files.

That is a regression caused by a recent issue I asked to resolve in #77. Basically I asked the diff panel to be set read-only, since there's no useful side effect of letting it editable. @jzoss made id disabled by mistake, making it not scrollable. Setting it just readonl

[2017-08-18 16:20] jzoss commented on #77
Opps.. that what happens when I fix bugs while in a meeting :)

[2017-08-18 16:23] jzoss commented on #79
Oh I get it.. Ok.. I can try try and fix that one. @ceztko thanks for the video.

[2017-08-23 15:23] jzoss commented on #73
Sorry for the delay.. Ben busy.. I'll look into it.

[2017-08-23 15:58] jzoss commented on #78
Try the latest CI build. It should be fixed

[2017-08-23 15:58] jzoss commented on #79
Try the latest CI build. It should be fixed

[2017-08-23 17:30] ceztko commented on #79
Fixed for me, thanks

[2017-08-23 17:30] ceztko commented on #78
Fixed for me

[2017-08-31 17:58] #74 closed

[2017-08-31 17:58] #78 closed

[2017-08-31 17:58] #79 closed

[2017-09-01 15:27] tonyoldfield opened #82 "Show only files in solution option does not show solution's proj or sln file"
Working mainly on Wpf Projects,
In Pending Changes window, ticked the 'Show Only Files In Solution' option.
Added a new code file to the current project.
The new file is listed in pending changes list, but the .proj file isn't listed as modified even though it has changed by adding the new source file.
For this reason (among others) it would be nice if 'Show Only Files In Solution' option also inc

[2017-09-12 12:01] ddobrev commented on #53
@jzoss the adding of files seems to have regressed, it doesn't work in VS 2017.

[2017-09-13 12:20] ddobrev commented on #53
@jzoss "Add to Project" still appears and works but auto-adding just files doesn't. Could you please reopen this issue?

[2017-09-13 18:26] jzoss commented on #53
Ok I will check it out

[2017-09-13 18:35] ddobrev commented on #53
@jzoss thank you very much, you're the best. :)

[2017-09-13 18:56] jzoss commented on #53
Do me a favor.. Try and include a file in a project and see if that gets added. Also.. make sure the option is checked to add files.. not sure if that could have been messed up in the last update.. It's working for me.. which usually means some odd error I missed

[2017-09-13 19:07] ddobrev commented on #53
@jzoss it does not get added. About the option, I didn't know there was one. Where can I find it?

[2017-09-13 19:15] jzoss commented on #53
Tool -> options .. source control options I think. I'm away from my desk at.

On Wed, Sep 13, 2017, 2:07 PM Dimitar Dobrev <notifications@github.com>
wrote:

[2017-09-13 19:25] ddobrev commented on #53
I am unfortunately unable to find such an option. Let me know if I can help later when you are at your computer.

[2017-09-13 20:07] jzoss commented on #53
Tools -> Options -> Source Control -> Ez Git Options

[2017-09-13 20:09] ddobrev commented on #53
In there I can only see options for paths and for expanding commands.

[2017-09-13 20:12] jzoss commented on #53
should see
![image](https://user-images.githubusercontent.com/3586254/30398443-f81d7328-9895-11e7-834f-e5e6becb9385.png)

[2017-09-13 20:24] ddobrev commented on #53
@jzoss I cannot describe how sorry I am for wasting your time. Because I had kept this screen at its default size, I had been unable to see the options below the selection of a diff tool. All I had to do was enlarge the window a little and I saw all options. Both options for addition were turned off and when I marked them, it worked immediately.

Having said that, I was able to think of a few sugg

[2017-09-13 20:28] jzoss commented on #53
It's no problem.. I'm sure i could make a better layout. I can't remember why I decided to not enable by default.. I think I did not want to change how it was working for everyone.. I can't remember for sure.

Don't worry you didn't waste my time. I like when people actually take a interest in this add-on it's the only way I know people are still using it..

BTW: In the Help wanted section of the

[2017-09-13 20:28] #53 closed

[2017-09-21 11:45] ddobrev opened #83 "Automatically add a file to source control when it's been renamed in a project"
Similar to https://github.com/jzoss/Git-Source-Control-Provider/issues/53 , a file renamed in a project - or in a solution - could be added to, or renamed in, Git as well. @jzoss what do you think?

[2017-10-24 11:34] ddobrev commented on #83
In addition, the file with the old name can be deleted in Git. @jzoss what do you think about such a feature?

[2017-10-24 16:51] jzoss commented on #83
It would not be bad. Din't think it would be that hard to implement.

[2017-10-24 16:53] ddobrev commented on #83
OK, great.
I can now see I've requested the feature with two different approaches - add + delete vs rename. It makes no difference to me so please select whichever one you consider optimal.

[2017-10-31 09:45] tomasr78 opened #84 "How to use this tool"
I have installed this tool to VS 2017 but I don't see anywhere it. I have git installed and use default Git extension to manage it. Please explain how to use it.

[2017-11-21 00:11] ddobrev commented on #84
Make sure you've selected "EZ-GIT" in Tools -> Options -> Source Control -> Plug-in Selection.

[2017-11-21 00:14] ddobrev commented on #83
Hello @jzoss , how have you been doing? Do you still develop this project? I can see no commits later than August. It would be a real shame if you no longer have time for it, the integration with TortoiseGit makes it much better than MS's built-in source control provider. But if you do, do you think you could start with this feature?

[2017-11-21 00:44] jzoss commented on #84
Sorry I missed this.. my notifications got all wonkey. Please ask if you need more help

[2017-11-21 00:44] #84 closed

[2017-11-21 00:47] jzoss commented on #83
Yeah I'm still around 😀. I moved in August and I just never caught up. I  still plan on adding new features .

[2017-11-21 00:48] ddobrev commented on #83
I am really happy to hear it. I hope you are happy too with your new home.

[2017-12-21 13:47] gigon opened #85 "Add option to push tags / push with tags"
I would like an option to push local tags e.g. execute commands like these:
git push origin master --tags
git push --follow-tags

[2018-02-09 12:24] ddobrev commented on #83
@jzoss Hello again. :) How have you been, any plans to continue development? This add-in needs your brilliant work.

[2018-02-09 21:08] jzoss commented on #83
Yeah I was starting to look at it again.. Just need to figure out what to do first. :)

[2018-02-09 21:10] ddobrev commented on #83
Excellent, makes me really happy because after this one I have some more issues for you. :)

[2018-02-21 20:10] jzoss commented on #83
Ok I'm back.. This will be fixed in 1.7.3 .. should also be in a pre-release in the release tab

[2018-02-21 20:10] #83 closed

[2018-02-21 20:12] ddobrev commented on #83
Thank you! I am patient, I can wait for the official release. :)

[2018-02-21 20:14] ddobrev commented on #83
By the way, does it also delete the file with the old name? If not, I guess you could still cope with just one operation, it would simply have to be Git rename instead of add.

[2018-02-21 20:17] ddobrev opened #86 "Glyphs not updated for .NET Standard projects"
A typical example is a Xamarin.Forms application since the Xamarin.Forms part is a .NET Standard project. When a file is changed, its glyph in the solution explorer often remains the same. I would guess it has to do with the different project files .NET Standard uses - they can but most often do not contain their files but rather everything in their folder is shown in the solution explorer.

[2018-02-21 21:23] jzoss commented on #86
I'll have to look at this. It works when I made a .Net Standard class library.. I'll have to check Xamarin when I get time.

[2018-02-21 21:40] jzoss commented on #83
Get pumped.. v1.7.3 was just published

[2018-02-21 22:33] ddobrev commented on #83
Works just fine. Directly renaming in Git and then displaying a single change would be a nice touch, though.

[2018-02-21 22:35] ceztko commented on #80
Thanks!

[2018-02-28 00:37] farosch opened #88 "How to push/pull"
How do I push changes after commiting or pull changes?
I cant find any option/button in the UI - Do I need to use the bash everytime?
(I'm using VS2017 Pro and Git for Windows)

[2018-02-28 10:01] ceztko opened #89 "Git bash starts with current directory env variable PWD set in lowercase"
When starting a git bash from Pending Changes panel, the current directory environment variable is set in lowercase. This is causing malfunctioning in some git aspects. Take for example the following directive in the `.gitconfig` file:

[code]

If `PWD` in bash is found with lowercase directories (for example `PWD=/d/repos`), the directive is not honored. From my investigation, the culprit of the

[2018-03-02 21:06] jzoss commented on #89
Thanks.. I will check out the patch.. If it works I'll get a new release out this weekend or early next week.

[2018-03-17 06:44] JohanLarsson opened #90 "Ask to save before committing"
I often forget to save leading to many amend commits, slight noise in history.

[2018-03-21 00:53] JCKodelESX opened #91 "Autosave"
This extension is waaaaaaaaay better than the default Visual Studio git stuff, except for one small detail: it won't trigger a full solution save before operations as commit, sync, etc.

To see what I mean: create a new file, then commit your changes. The only change will be this new file, right?
Now, press Ctrl+Alt+S (or the
![image](https://user-images.githubusercontent.com/37353100/37690324-f20

[2018-03-21 00:55] JCKodelESX commented on #90
I forgot to search before ask =( But, yeah: https://github.com/jzoss/Git-Source-Control-Provider/issues/91

[2018-03-25 10:32] peterremote1980 opened #92 "how to git push"
hi, how to git push? i don't see the menu, thanks

[2018-04-07 19:29] farosch commented on #92
Duplicate of #88

[2018-05-09 23:41] ceztko commented on #89
Consider the patch attached here as obsolete. I was making the drive letter to lowercase as a normalization, and versions of Windows until 1709 seemed to internally further normalize it to uppercase. With Windows 1803 it seems current directory will be accepted as-is, so I preferred a default normalization to uppercase prior setting Process.StartInfo.WorkingDirectory. This is done in pull request

[2018-05-09 23:42] ceztko commented on #89
For the rest pull request #93 is identical and I've tested it in these months without any issue

[2018-05-09 23:43] jzoss commented on #89
Awesome.. I'll try to merge and test tomorrow. Hopefully I can make an
release tomorrow as well

On Wed, May 9, 2018, 6:42 PM Francesco Pretto <notifications@github.com>
wrote:

[2018-05-10 16:54] #89 closed

[2018-05-10 17:49] jzoss commented on #91
Coming very soon ..
![image](https://user-images.githubusercontent.com/3586254/39884774-8eb4b1cc-5450-11e8-80c8-750c73a07df2.png)

[2018-05-10 17:50] jzoss commented on #90
@JohanLarsson

So do you just want it to save, or is a modal important?

[2018-05-10 17:59] #91 closed

[2018-05-10 18:03] ddobrev commented on #86
@jzoss I can actually only reproduce it with just one of my projects. I guess there's something specific to that project. If I ever have the time to debug, I'll send you the results. For now I am just going to close this issue. Once again, thank you for your work.

[2018-05-10 18:03] #86 closed

[2018-05-10 18:03] jzoss commented on #91
Done in 1.74.. Which will be released soon..
@JCKodelESX
If you could help .. get the latest CI build and test it out https://github.com/jzoss/Git-Source-Control-Provider/releases/tag/GSCP-CI